{% extends "codegalaxy.html" %}

{% load staticfiles %}
{% load i18n %}
{% load custom_filters %}
{% block page_css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/challenges.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "jquery_autocomplete/content/styles.css" %}" />
{% endblock page_css %}

{% block base_body %}
  {% getProfilePicture as pic %}
  <div class="row">
    <div class="large-text-center large-centered columns large-6">
      <input id="search" type="text" placeholder="Who do you wish to challenge">
    </div>
  </div>

  <div id="challenge_user" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div id="story" class="row">
      <div class="left">
        <!--source: http://www.veryicon.com/icon/png/Art/Space%20Invaders/Alien.png -->
        <img class="alien" src="{% static "media/aliens/grub.png" %}">
      </div>
      <div id="textbox" class="large-6 columns">
        <div id="grub_story" data-alert class="alert-box info radius">
          {% trans "So we meet again space voyager! Do you remember me? It's me grub!" %}<br/>
          {% trans "Oh boy! Seems you are going to challenge somebody! By challenging and defeating someone you become stronger!" %}<br/>
          {% trans "Ah, brings back some old memories. In the bootloader galaxy I was known as Grub The Destroyer!" %}<br/>
          {% trans "If i'd get mad I could just destroy a whole planet!..." %}<br/>
          {% trans "Okay it's all a lie, I'm one of the lowest level aliens in the bootloader galaxy..." %}
          {% trans "So I always needed someone strong to defend me. Before I got lost in this galaxy, my friend Kernel used to defend me." %}
          {% trans "But since we got separated... I have no one left for protecting me... Will you please defend me? I'm so scared without Kernel..." %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel">
        <ul class="large-block-grid-2">
          <li>
            <div class="large-6 large-centered large-text-center columns">
              <img class="challengers" src="{% static pic %}">
              <br/>
              {{ user.first_name }} {{ user.last_name }}
            </div>
          </li>
          <li>
            <div class="large-6 large-centered large-text-center columns">
              <div id="challenged">

              </div>
            </div>
          </li>
        </ul>
        <form method="POST">
          {% csrf_token %}
          <input hidden id="challenged_name" name="challenged" value="">
          <div class="row">
            <div class="large-12 large-text-center columns">
              Select challenge:<br/>
              <select id="challenge_type" name="challenge_type">
                <option value="Score" name="Score">Score</option>
                <option value="Perfects" name="Perfects">Perfects</option>
              </select><br/>
              Select list for challenge:<br/>
              <select id="possible_lists" name="possible_lists">

              </select><br/>
              <button type="submit" id="send_challenge" class="success tiny radius">Challenge!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

{% endblock base_body %}

{% block body_js %}
  <script>
    function challengeUser(){

    }

    function getAvailableLists(person_name){
      $.ajax({
        type: "GET",
        url: "",
        data: "challenged=" + person_name + "&available_lists=true",
        dataType: "json",

        success: function(response) {
          $.each(response, function(key, value){
            var optgroup = $("<optgroup/>",{
              label: key
            });
            $.each(value, function(index, val){
              console.log(val);
              var option = $("<option/>",{
                value: val
              });
              option.text(val);
              optgroup.append(option);
            });
            $('#possible_lists').append(optgroup);
          });

          $("#challenge_user").foundation('reveal', 'open', '');
          $("#search").val("");
        }
      });
    }

    var availableTags = {{ all_users_names|safe }};
    $( "#search" ).autocomplete({
      lookup: availableTags,
      showNoSuggestionNotice: true,
      noSuggestionNotice: 'Sorry, no matching results',
      onSelect: challengeUser(),
      lookupFilter: function(suggestion, originalQuery, queryLowerCase) {
        var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
        return re.test(suggestion.value);
      },
      formatResult: function(suggestion, currentValue){
        var regex = new RegExp(currentValue, "i");
        var elem = $("<img/>", {
          src: suggestion.data,
          class:"search_pict"
        });
        return $(elem).prop("outerHTML") + (suggestion.value).replace(regex, function(e){
                  return "<strong>"+e+"</strong>"
                });
      },
      onSelect: function(person){
        $("#challenged").empty();
        var elem = $("<img/>", {
          src: person.data,
          class:"challengers"
        });
        $("#challenged").append(elem);
        $("#challenged").append("<br/>" + person.value);
        getAvailableLists(person.value)
      }
    });

    $(document).ready(function(){

      $("#story").height(180);
    });

    $('#send_button').click(function(e){
      e.preventDefault();
      var post_data = $('form').serialize();
      $.ajax({
        type: "POST",
        url: "",
        data: post_data,
        dataType: "text",

        success: function(response) {
        },
        error: function(jqXHR, textStatus, error) {

        }
      })
    });

  </script>
{% endblock body_js %}
