{% extends "codegalaxy.html" %}

{% load staticfiles %}
{% load i18n %}

{% block base_body %}
<div class="row">
	<div class="large-12 columns end">
		<div class="row">
			{% for badge in gold_badges %}
			<div class="large-2 columns end">
				<div class="panel radius">
					<a href="/badge/{{ badge.id }}">
						<img src="{% static badge.getPicture %}" class="round-image"/>
						<div>
							<h6 class="text-cut-off" text-center>{{ badge.name }}</h6>
						</div>
					</a>
				</div>
			</div>
			{% endfor %}
			{% for badge in silver_badges %}
			<div class="large-2 columns end">
				<div class="panel radius">
					<a href="/badge/{{ badge.id }}">
						<img src="{% static badge.getPicture %}" class="round-image"/>
						<div>
							<h6 class="text-cut-off" text-center>{{ badge.name }}</h6>
						</div>
					</a>
				</div>
			</div>
			{% endfor %}
			{% for badge in bronze_badges %}
			<div class="large-2 columns end">
				<div class="panel radius">
					<a href="/badge/{{ badge.id }}">
						<img src="{% static badge.getPicture %}" class="round-image"/>
						<div>
							<h6 class="text-cut-off" text-center>{{ badge.name }}</h6>
						</div>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>



{% endblock base_body %}