{% extends "codegalaxy.html" %}

{% load staticfiles %}
{% load i18n %}


{% block base_body %}

<div class="row">
	<a href="/badges/"><button class="small round button success">{% trans "Badge Overview" %}</button></a>
	<div class="large-12 columns">
		<div class="row">
			<div class="panel radius">
				<div class="text-center">
					<div class="row">
					<h1>{{ badge.name }}</h1>
					{% if badge.id|add:"-1" > 0 %}
					<a href="/badge/{{badge.id|add:"-1"}}"><span class="mega-octicon octicon-arrow-left"></span></a>
					{% endif %}
					<img src="{% static badge.getPicture %}">
					{% if badge.id|add:"1" <= 25 %}
					<a href="/badge/{{badge.id|add:"1"}}"><span class="mega-octicon octicon-arrow-right"></span></a>
					{% endif %}
					</div>
					<br>
					<div class="row">
					<h4>{{ message }}</h4>
					</div>
					{% if percentage_finished = 100 %}
					<div class="row">
						<div class="success-text">
							<span class="mega-octicon octicon-check"></span><b> {% trans "Congratulations! You already earned this badge!" %} </b>
						</div>
		            </div>
					{% else %}
					<div class="row">
						<div class="large-10 large-centered text-center columns">
							<b>{{ percentage_finished }}%</b> {% trans "earned" %}
						 	<div class="progress small success round">
			                	<span class="meter" style="width: {{ percentage_finished }}%"></span>
			              	</div>
			            </div>
		            </div>
					{% endif %}
					<br>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="text-center">
			{% if users_that_earned_badge %}
				<h3>{% trans "Users that earned this badge:" %}</h3>
				{% for person in users_that_earned_badge %}
				<div class="large-2 columns end">
	              <a href="/u/{{ person.id }}">
	                <div class="panel radius">
	                  <img src="{% static person.getPicture %}" class="round-image"/>
	                  <h5 class="text-cut-off">{{ person.first_name }}</h5>
	                  <h6 class="text-cut-off">{{ person.last_name }}</h6>
	                </div>
	              </a>
	            </div>
				{% endfor %}
			{% else %}
				<h3>{% trans "No one has earned this badge yet, be the first!" %}</h3> 
			{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock base_body %}
