{% extends "codegalaxy.html" %}

{% load staticfiles %}
{% load i18n %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/badge.css" %}" />
{% endblock page_css %}


{% block base_body %}

<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="panel radius">
				<div class="text-center">
				<h3>{% trans "People that earned this badge" %}</h3>
				<span class="goldAch">
					<a href="/badge/{{badge.id}}">{{ badge.name }}</a>
				</span>
				<h4>{{ badge.message }}</h4>
			
				</div>
			</div>
		</div>
		<div class="row">
			{% for person in users_that_earned_badge %}
			<div class="large-2 columns end">
              <a href="/u/{{ person.id }}">
                <div class="panel radius">
                  <img src="{% static person.getPicture %}" class="round-image"/>
                  <h5 class="text-cut-off">{{ person.first_name }}</h5>
                  <h6 class="text-cut-off">{{ person.last_name }}</h6>
                </div>
              </a>
            </div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock base_body %}