{% extends "foundation/base.html" %}
{% load staticfiles %}
{% load i18n %}

{# Title #}
{% block title %} Code Galaxy {% endblock title %}

{# Custom CSS #}
{% block css %}
<link href="{% static "foundation/css/custom.css" %}" rel="stylesheet"/>
{% endblock css %}

{# Top Bar #}
{% block top_bar %}
<div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">CodeGalaxy</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li><a href="/u/overview/">Users</a></li>
                <li><a href="/g/create">Create Group</a></li>
                <li><a href="/g/overview">Group Overview</a></li>
                <li><a href="/g/1">Admin Group</a></li>
                <li><a href="/tables/">Tables</a></li>
                <li><a href="/test">Test</a></li>
                <li><a href="/register/">Register</a></li>
                <li><a href="/login/">Login</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </section>
    </nav>
</div>
{% endblock top_bar %}

{# Footer #}
{% block footer %}
<footer class="row">
  <div class="large-10 columns small-centered">
    <hr>
    <div class="row">
      <div class="text-center">
        <a class="setlang" name="en">{% trans "English" %}</a> | <a class="setlang" name="nl">{% trans "Dutch" %}</a>
      </div>
    </div>
  </div>
</footer>
<script>
  $(".setlang").click(function() {
    $.post("{% url 'set_language' %}", {language:$(this).attr("name"), csrfmiddlewaretoken: "{{ csrf_token }}"}).done(function() {
      location.reload(true);
    });
  });
</script>
{% endblock footer %}
