{% extends "foundation/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load custom_filters %}

{# Title #}
{% block title %} Code Galaxy {% endblock title %}

{% block head_js %}
  <script src="{% static "codemirror/lib/codemirror.js" %}"></script>
  <script src="{% static "codemirror/mode/python/python.js" %}"></script>
  <script src="{% static "codemirror/mode/clike/clike.js" %}"></script>
  <script src="{% static "codemirror/mode/sql/sql.js" %}"></script>
  <script src="{% static "codemirror/addon/edit/matchbrackets.js" %}"></script>
  <script src="{% static "codemirror/addon/edit/closebrackets.js" %}"></script>

  <script src="{% static "foundation/js/foundation/foundation.abide.js" %}"></script>

  <script src="{% static "Chart.min.js" %}"></script>

  <script src="{% static "skulpt/skulpt.min.js" %}"></script>
  <script src="{% static "skulpt/skulpt-stdlib.js" %}"></script>
{% endblock head_js %}

{# Custom CSS #}
{% block css %}
  <link href="{% static "css/general.css" %}" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
  <link rel="stylesheet" href="{% static "codemirror/theme/monokai.css" %}">
{% block page_css %}{% endblock page_css %}
{% endblock css %}

{# Top Bar #}
{% block top_bar %}
  <div class="sticky">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/"><img src={% static "media/icons/rocket2.png" %}/></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">{% trans "Menu" %}</a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          {% if logged_in %}
            {% getProfilePicture as pic %}
            <li><a href="/me"><img class="profile_picture" src="{% static pic %}"></a></li>
            <li><a href="/social">{% trans "Social" %}</a></li>
            <li><a href="/l/">{% trans "Exercises" %}</a></li>
            <li><a href="/logout/">{% trans "Logout" %}</a></li>

          {% else %}
            <li><a href="/social">{% trans "Social" %}</a></li>
            <li><a href="/l/">{% trans "Exercises" %}</a></li>
            <li><a href="/login/">{% trans "Login" %}</a></li>
          {% endif %}
        </ul>
      </section>
    </nav>
  </div>
{% endblock top_bar %}

{# Footer #}
{% block footer %}
  <footer class="row">
    <div class="large-10 columns small-centered">
      <hr>
      <div class="row">
        <div class="text-center">
          <img src={% static "CGFooter.png" %}/>
          <a class="setlang" name="en">{% trans "English" %}</a> | <a class="setlang" name="nl">{% trans "Dutch" %}</a>
        </div>
      </div>
    </div>
  </footer>
  <script>
    $(".setlang").click(function() {
      $.post("{% url 'set_language' %}", {language:$(this).attr("name"), csrfmiddlewaretoken: "{{ csrf_token }}"}).done(function() {
        location.reload(true);
      });
    });
  </script>
{% endblock footer %}

{% block ajax_stuff %}
  <script>
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", $.cookie("csrftoken"));
        }
      }
    });

    window.ondragstart = function() { return false; } ;
  </script>
{% endblock ajax_stuff %}
