{% extends "foundation/base.html" %}
{% load staticfiles %}
{% load i18n %}

{# Title #}
{% block title %} Code Galaxy {% endblock title %}

{# Custom CSS #}
{% block css %}
<link href="{% static "css/general.css" %}" rel="stylesheet"/>
{% endblock css %}

{# Top Bar #}
{% block top_bar %}
<div class="sticky">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="/"><img src={% static "media/rocket2.png" %}/></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            {% if logged_in%}
            <li><a href="/me">Profile</a></li>
            <li><a href="/g/overview">Groups</a></li>
            <li><a href="/l/">Exercises</a></li>
            <li><a href="/logout/">Logout</a></li>

            {% else%}
            <li><a href="/g/overview">Groups</a></li>
            <li><a href="/l/">Exercises</a></li>
            <li><a href="/login/">Login</a></li>

            {% endif%}
          </ul>
        </section>
    </nav>
</div>
{% endblock top_bar %}

{# Footer #}
{% block footer %}
<footer class="row">
  <div class="large-10 columns small-centered">
    <hr>
    <div class="row">
      <div class="text-center">
        <img src={% static "CGFooter.png" %}/>
        <a class="setlang" name="en">{% trans "English" %}</a> | <a class="setlang" name="nl">{% trans "Dutch" %}</a>
      </div>
    </div>
  </div>
</footer>
<script>
  $(".setlang").click(function() {
    $.post("{% url 'set_language' %}", {language:$(this).attr("name"), csrfmiddlewaretoken: "{{ csrf_token }}"}).done(function() {
      location.reload(true);
    });
  });
</script>
{% endblock footer %}
