{% extends "codegalaxy.html" %}

{% load staticfiles %}

{% block base_body %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Chart.js demo</title>
        <!-- import plugin script -->
        <script src="{% static "Chart.min.js" %}"></script>
    </head>
    <body>
        <h1>Top X most productive users</h1>
        {{ teststr | safe }}
        <h1># Exercises/programming language</h1>
        {{ teststr2 | safe }}
        <h1>Top X biggest groups</h1>
        {{ teststr3 | safe}}
        <h1>Comparing users</h1>
        {{ teststr4 | safe}}
    </body>
</html>
{% endblock base_body %}
