{% extends "codegalaxy.html" %}

{% load staticfiles %}
{% load i18n %}

{% block base_body %}

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{% trans "Create a new group" %}</h1>

      <div class="create_group-panel">
        <p>{% trans "Add a name for your new group" %}</p>
          <form method="post" action="/g/create" data-abide>
          {% csrf_token %}
          <div class="row collapse">
            <div class="small-11  columns">
              <input type="text" required placeholder="{% trans "Group Name" %}" id="group_name" name="group_name" value="{{ group_name }}">
              <small class="error">{% trans "Name already taken/no name given" %}</small>
            </div>
          </div>

          <p>{% trans "Do you want to create a private group?" %}</p>
          <div class="switch">
          <input id="group_type" name="group_type" type="checkbox" checked>
          <label for="group_type">{% trans "Private" %}</label>
          </div>

          <p></p>
          <input type="submit" value="{% trans "Create Group" %}" class="round button"/>
        </form>
      </div>

    </div>
  </div>
</div>

{% endblock base_body %}
