{% extends "codegalaxy.html" %}

{% load staticfiles %}

{% block head_js %}
<script src="{% static "Chart.min.js" %}"></script>
{% endblock head_js %}

{% load i18n %}

{% block base_body %}

<div class="row">

  <div class="row">
    <div class="large-4 columns">
      <div class="panel">
        <legend>Biggest Groups</legend>
        {{ biggest_groups | safe }}
      </div class="panel">
    </div>

  <div class="large-8 columns">
    <h1>{% trans "Group overview" %}</h1>
    <a href="/g/create" class="button large">{% trans "Create new group" %}</a>
    {% for group_sub_list in groups %}
    <div class="row">
      {% for group in group_sub_list %}
      <div class="large-3 columns end">
          <a href="../../g/{{ group.id }}"/>
          <img src="{% static group.getGroupPicture %}">
          <div class="left">
          <div class="panel" style="width: 129px;">
              <h6 style="width: 129px;">{{ group.group_name }}</h6>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
</div>


{% endblock base_body %}
