{% extends "codegalaxy.html" %}

{% load staticfiles %}
{% load i18n %}

{% block page_css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/group.css" %}" />
{% endblock page_css %}


{% block base_body %}
<div class="row">
  <div class="large-3 columns text-center ">
    <div class="panel radius">
      <a href="#"><img src="{% static group.getPicture %}" class="round-image"></a>
      <br />
      <br />
      <h4><b>{{ group.group_name }}</b></h4>
      <br />
      <h6><b>Owner: </b> {{ group_owner }}</h6>
      <h6><b>Members: </b> {{ group_size }}</h6>
      {% if not is_member %}
      <form method="post" action="/g/{{group.id}}/">
        {% csrf_token %}
        <input type="submit" name="become_member" value="{% trans "Become member" %}" class="button success radius"/>
      </form>
      {% else %}
      <form method="post" action="/g/{{group.id}}/">
        {% csrf_token %}
        <input type="submit" name="leave_group" value="{% trans "Leave group" %}" class="button alert radius"/>
      </form>
      {% endif %}
    </div>
  </div>

  <div class="large-8 columns left">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#feed">{% trans "Feed" %}</a></li>
      <li class="tab-title"><a href="#members">{% trans "Members" %}</a></li>
      {% if is_member %}
      <li class="tab-title"><a href="#wall">{% trans "Wall" %}</a></li>
      <li class="tab-title"><a href="#add_members">{% trans "Add New Members" %}</a></li>
      {% if not group_permissions == 2 %}
      <li class="tab-title"><a href="#edit_group">{% trans "Edit" %}</a></li>
      {% endif %}
      {% endif %}
    </ul>

    <hr/>

    <div class="tabs-content">
      <div class="content active" id="feed">
        {% for item in data %}
          {% if item.type == 'FriendsWith' %}
          <div class="row">
            <div class="feed-item">
              <div class="large-2 columns"><img src="{% static "media/icons/rocket1.png" %}"/></div>
              <div class="large-10 columns end">
                <p>
                  <strong><a href="/u/{{ item.user.id }}">{{ item.user.name }} </a></strong>{% trans "became friends with" %} <a href="/u/{{ item.friend.id }}">{{ item.friend.first_name }} {{ item.friend.last_name }}</a>.
                </p>
                <p class="feed-timestamp">
                  <small><span class="octicon octicon-clock"></span>{{ item.befriended_on }}</small>
                </p>
              </div>
            </div>
          </div>
          {% endif %}
          {% if item.type == 'UserInGroup'%}
          <div class="row">
            <div class="feed-item">
              <div class="large-2 columns"><img src="{% static "media/icons/rocket1.png" %}"/></div>
              <div class="large-10 columns end">
                <p>
                  <strong><a href="/u/{{ item.user.id }}">{{ item.user.name }} </a></strong>{% trans "was added to group:" %} <a href="/g/{{ item.group.id }}">{{ item.group.group_name }}</a>.
                </p>
                <p class="feed-timestamp">
                  <small><span class="octicon octicon-clock"></span>{{ item.joined_on }}</small>
                </p>
              </div>
            </div>
          </div>
          {% endif %}
          {% if item.type == 'MadeExerciseList'%}
          <div class="row">
            <div class="feed-item">
              <div class="large-2 columns"><img src="{% static "media/icons/rocket1.png" %}"/></div>
              <div class="large-10 columns end">
                <p>
                  <strong><a href="/u/{{ item.user.id }}">{{ item.user.name }} </a></strong>{% trans "solved an exercise list:" %} <a href="/l/{{ item.exercise_list.id }}">{{ item.exercise_list.name }}</a> {% trans "and scored" %} {{ item.personal_list.score }}%.
                </p>
                <p class="feed-timestamp">
                  <small><span class="octicon octicon-clock"></span>{{ item.completed_on }}</small>
                </p>
              </div>
            </div>
          </div>
          {% endif %}
          {% if item.type == 'CreatedExerciseList'%}
          <div class="row">
            <div class="feed-item">
              <div class="large-2 columns"><img src="{% static "media/icons/rocket1.png" %}"/></div>
              <div class="large-10 columns end">
                <p>
                  <strong><a href="/u/{{ item.user.id }}">{{ item.user.name }} </a></strong>{% trans "created an exercise list:" %} <a href="/l/{{ item.exercise_list.id }}">{{ item.exercise_list.name }}</a>.
                </p>
                <p class="feed-timestamp">
                  <small><span class="octicon octicon-clock"></span>{{ item.created_on }}</small>
                </p>
              </div>
            </div>
          </div>
          {% endif %}
          <hr/>
          {% endfor %}
            <div class="pagination-centered">
              <ul class="pagination">
                {% if data.has_previous %}
                  {% if data.number == 2 %}
                    <li class="arrow"><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
                    <li><a href="?page=1">1</a></li>
                  {% elif data.number == 3 %}
                    <li class="arrow"><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
                    <li><a href="?page=1">1</a></li>
                    <li><a href="?page=2">2</a></li>
                  {% elif data.number > 3 %}
                    <li class="arrow"><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
                    <li><a href="?page=1">1</a></li>
                    <li class="unavailable"><a href="">&hellip;</a></li>
                    <li><a href="?page={{ data.previous_page_number }}">{{ data.previous_page_number }}</a></li>
                  {% endif %}
                {% endif %}
                <li class="current"><a href="">{{ data.number }}</a></li>
                {% if data.has_next %}
                  {% if data.paginator.num_pages|add:-2 > data.number %}
                    <li><a href="?page={{ data.next_page_number }}">{{ data.next_page_number }}</a></li>
                    <li class="unavailable"><a href="">&hellip;</a></li>
                    <li><a href="?page={{ data.paginator.num_pages }}">{{ data.paginator.num_pages }}</a></li>
                  {% elif data.paginator.num_pages|add:-1 > data.number %}
                    <li><a href="?page={{ data.next_page_number }}">{{ data.next_page_number }}</a></li>
                    <li><a href="?page={{ data.paginator.num_pages }}">{{ data.paginator.num_pages }}</a></li>
                  {% elif data.paginator.num_pages|add:-1 == data.number %}
                    <li><a href="?page={{ data.next_page_number }}">{{ data.next_page_number }}</a></li>
                  {% else %}
                    <li><a href="?page={{ data.paginator.num_pages }}">{{ data.paginator.num_pages }}</a></li>
                  {% endif %}
                  <li class="arrow"><a href="?page={{ data.next_page_number }}">&raquo;</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="content" id="edit_group">
            {% if group_permissions == 0 %}
              <form method="POST">
                {% csrf_token %}
                <input type="submit" value="{% trans "Delete Group" %}" name="delete_group" class="button radius alert">
              </form>
            {% endif %}
            <form method="POST" action="/g/{{group.id}}/" enctype="multipart/form-data" data-abide>
              {% csrf_token %}
              <h5>{% trans "Upload group picture" %}</h5>
              <p>
                <input id="id_image" type="file" class="resizeme" name="image">
              </p>
              <input type="submit" value="{% trans "Edit Group Picture" %}" name="update_group_picture" class="small button round success">
            </form>
            <hr/>
          </div>

          <div class="content" id="wall">
          <div id="post_field">
            <textarea id="post_text" name="post_text"></textarea>
          </div>
          <input id="post_button" class="button tiny radius" value="{% trans "Post" %}">
        <hr>

        <div class="row">
          <div class="large-12 columns">
            <div id="posts">
                {% if group_posts %}
                  {{ group_posts | safe }}
                {% else %}
                <h1>There don't seem to be any posts here yet!</h1>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
          <div class="content" id="add_members">
            {% for user in currentuser_friend_list %}
            <div class="small-12 columns">
              <div class="small-2 large-2 columns">
                <img src="{% static user.getPicture %}" class="round-image">
              </div>
              <div class="small-4 large-8 columns">{{user.first_name}} {{user.last_name}}</div>
              <form method="POST" action="/g/{{group.id}}/">
                {% csrf_token %}
                <div class="small-6 large-4 columns">
                  <input type="hidden" name="user_id_to_add" value="{{ user.id }}">
                  <input type="submit" name="add_friend" value="{% trans "Add User" %}" class="button round success">
                </div>
              </form>
              <hr/>
            </div>
            {% endfor %}
          </div>

          <div class="content" id="members">
            {% if is_member %}
            {% for member in user_list %}
            <div class="large-12 columns">
              <div id="u_{{ member.0.id }}" class="panel radius">
                <div class="row">
                  <div class="large-3 columns">
                    <a href="/u/{{ member.0.id }}">
                      <img src="{% static member.0.getPicture %}" class="round-image"/>
                    </a>
                  </div>
                  <div class="large-5 columns">
                    <a href="/u/{{ member.0.id }}">
                      <h5 class="text-cut-off"><b>{{ member.0.first_name }} {{ member.0.last_name }}</b></h5>
                    </a>
                    <h6><b>Status: </b>
                    {% if member.1 == 2 %}
                      {% trans "Member" %}</h6>
                    {% elif member.1 == 1 %}
                      {% trans "Admin" %}</h6>
                    {% elif member.1 == 0 %}
                      {% trans "Owner" %}</h6>
                    {% endif %}
                  </div>
                  {% if my_user_permissions == 1 %}
                  <div class="large-3 columns text-right user-controls">
                    {% if not member.0.id == user.id %}
                      {% if member.1 == 2 %}
                      <form method="POST" action="/g/{{group.id}}/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="user_id_to_delete" value="{{ member.0.id }}">
                        <input type="hidden" name="remove_user">
                        <a href="#" class="alert-text b_remove_user">{% trans "Kick user" %} <span class="octicon octicon-x"></span></a>
                      </form>
                      {% elif member.1 == 1 %}
                        {% if my_user_permissions == 0 %}
                          <form method="POST" action="/g/{{group.id}}/" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="user_id_to_delete" value="{{ member.0.id }}">
                            <input type="hidden" name="remove_user">
                            <a href="#" class="alert-text b_remove_user">{% trans "Kick user" %} <span class="octicon octicon-x"></span></a>
                          </form>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    {% if member.1 == 2 %}
                      <form method="POST" action="/g/{{group.id}}/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="user_id_to_upgrade" value="{{ member.0.id }}">
                        <input type="hidden" name="upgrade_user">
                        <a href="#" class="blue-text b_upgrade_user">{% trans "Promote user" %} <span class="octicon octicon-arrow-up"></span></a>
                      </form>
                    {% endif %}
                  </div>
                  {% elif my_user_permissions == 0 %}
                  <div class="large-3 columns">
                    {% if not member.0.id == user.id %}
                      {% if member.1 == 2 %}
                      <form method="POST" action="/g/{{group.id}}/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="user_id_to_delete" value="{{ member.0.id }}">
                        <input type="hidden" name="remove_user">
                        <a href="#" class="b_remove_user alert-text">{% trans "Kick user" %} <span class="octicon octicon-x"></span></a>
                      </form>
                      {% elif member.1 == 1 %}
                        {% if my_user_permissions == 0 %}
                        <form method="POST" action="/g/{{group.id}}/" enctype="multipart/form-data">
                          {% csrf_token %}
                          <input type="hidden" name="user_id_to_delete" value="{{ member.0.id }}">
                          <input type="hidden" name="remove_user">
                          <a href="#" class="alert-text b_remove_user">{% trans "Kick user" %} <span class="octicon octicon-x"></span></a>
                        </form>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    {% if member.1 == 2 %}
                    <form method="POST" action="/g/{{group.id}}/" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="hidden" name="user_id_to_upgrade" value="{{ member.0.id }}">
                      <input type="hidden" name="upgrade_user">
                      <a href="#" class="blue-text b_upgrade_user">{% trans "Promote user" %} <span class="octicon octicon-arrow-up"></span></a>
                    </form>
                    {% endif %}
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            {% for member in user_list %}
            <div class="large-12 columns end">
              <div id="u_{{ member.0.id }}" class="panel radius">
                <div class="row">
                  <div class="large-3 columns">
                    <a href="/u/{{ member.0.id }}">
                      <img src="{% static member.0.getPicture %}" class="round-image"/>
                    </a>
                  </div>
                  <div class="large-6 columns">
                    <a href="/u/{{ member.0.id }}">
                      <h5 class="text-cut-off"><b>{{ member.0.first_name }} {{ member.0.last_name }}</b></h5>
                    </a>
                    <h6><b>Status: </b>
                    {% if member.1 == 2 %}
                      {% trans "Member" %}</h6>
                    {% elif member.1 == 1 %}
                      {% trans "Admin" %}</h6>
                    {% elif member.1 == 0 %}
                      {% trans "Owner" %}</h6>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
    </div>
</div>

{% endblock base_body %}

{% block body_js %}
<script>
  $(".b_remove_user").click(function() {
    $(this).closest("form").submit();
  });

  $(".b_upgrade_user").click(function() {
    $(this).closest("form").submit();
  });

  function hideReplyField(){
    $(".replying").remove()
  }

  var post_text_var = CodeMirror.fromTextArea(post_text,
        {
          theme: "monokai",
          mode: "text/x-markdown"
        });
  $(document).on("click","#post_button" , function(e){
    var post_data = {
      post_text : post_text_var.getValue(),
      group_id: {{ group.id }}
     };
    $.ajax({
      type: "POST",
      url: "/postNew/",
      data: post_data,
      dataType: "text",

      success: function(response) {
        $('#posts').prepend(response);
        post_text_var.setValue('');
      },
      error: function(jqXHR, textStatus, error) {
        $("#output_alert").html(jqXHR.responseText.toString());
        $("#output_alert").show();
      }
    });
  });

  var replying = false;
  $(document).on("click",".cancel_button" , function(e){
    hideReplyField();
    replying = true;
  });

  $(document).on("click",".want_to_reply_button" , function(e){
    if(replying){
      hideReplyField();
    }
    e.preventDefault();
    var group_id = $(this).attr('data-group_id');
    var post_id = $(this).attr('data-post_id');
    html_text_box = '<div class="replying">';
    html_text_box += '<div class="row">';
    html_text_box += '</br>';
    html_text_box += '<div class="large-10 columns end">';
    html_text_box += '<textarea id="post_text_reply" name="post_text_reply"></textarea>';
    html_text_box += '<scr' + 'ipt>var post_text_var_reply = CodeMirror.fromTextArea(post_text_reply,{theme: "monokai",mode: "text/x-markdown"});</scr' + 'ipt>';
    html_text_box += '</div></div>';
    html_text_box += '<div class="row">';
    html_text_box += '<div class="large-12 columns end">';
    html_text_box += '<input id="reply_button"' + ' data-post_id=' + post_id + ' class="button tiny radius reply_button" value="{% trans "Reply" %}">';
    html_text_box += '<input id="cancel_button" class="button tiny radius cancel_button" value="{% trans "Cancel" %}">';
    html_text_box += '</div></div></div>';
    $(this).parent().parent().parent().append(html_text_box);
    replying = true;
  });

  $(document).on("click",".want_to_edit_button" , function(e){
    e.preventDefault();
    if(replying){
      hideReplyField();
    }

    var group_id = $(this).attr('data-group_id');
    var post_id = $(this).attr('data-post_id');
    html_text_box = '<div class="replying">';
    html_text_box += '<div class="row">';
    html_text_box += '</br>';
    html_text_box += '<div class="large-10 columns end">';
    html_text_box += '<textarea id="post_text_edit" name="post_text_edit"></textarea>';
    html_text_box += '<scr' + 'ipt>var post_text_var_edit = CodeMirror.fromTextArea(post_text_edit,{theme: "monokai",mode: "text/x-markdown"});</scr' + 'ipt>';
    html_text_box += '</div></div>';
    html_text_box += '<div class="row">';
    html_text_box += '<div class="large-12 columns end">';
    html_text_box += '<input id="edit_button"' + ' data-post_id=' + post_id + ' class="button tiny radius edit_button" value="{% trans "Edit" %}">';
    html_text_box += '<input id="cancel_button" class="button tiny radius cancel_button" value="{% trans "Cancel" %}">';
    html_text_box += '</div></div></div>';
    $(this).parent().parent().parent().append(html_text_box);
    replying = true;
  });

  $(document).on("click",".delete_button" , function(e){
    e.preventDefault();
    p_id = $(this).attr('data-post_id')
    var post_data = {
      group_id: {{ group.id }},
      post_id: p_id
     };
    $.ajax({
      type: "POST",
      url: "/deletePost/",
      data: post_data,
      dataType: "text",

      success: function(response) {
        $('.post').each(function(i, obj) {
          if ($(this).attr('data-post_id')==p_id) {
            $(this).remove();
          }
        });
        $('.wall-item').each(function(i, obj) {
          if ($(this).attr('data-post_id')==p_id) {
            $(this).remove();
          }
        });
      },
      error: function(jqXHR, textStatus, error) {
        $("#output_alert").html(jqXHR.responseText.toString());
        $("#output_alert").show();
      }
    });
  });

  $(document).on("click",".edit_button" , function(e){
    e.preventDefault();
    p_id = $(this).attr('data-post_id')
    var post_data = {
      post_text : post_text_var_edit.getValue(),
      group_id: {{ group.id }},
      post_id: p_id
     };
    $.ajax({
      type: "POST",
      url: "/editPost/",
      data: post_data,
      dataType: "text",

      success: function(response) {
        $(document).find('.post').each(function(i, obj) {
          if ($(this).attr('data-post_id')==p_id) {
            $(this).find('p').first().text(post_text_var_edit.getValue())
          }
        });
          hideReplyField();
      },
      error: function(jqXHR, textStatus, error) {
        $("#output_alert").html(jqXHR.responseText.toString());
        $("#output_alert").show();
      }
    });
  });

  $(document).on("click",".reply_button" , function(e){
    // TODO: visueel foort dit met nieuwe posts, wss weer iets met document
    e.preventDefault();
    var p_id = $(this).attr('data-post_id')
    var post_data = {
      post_text : post_text_var_reply.getValue(),
      group_id: {{ group.id }},
      post_id: p_id
     };
     var this_button = $(this);
    $.ajax({
      type: "POST",
      url: "/replyTo/",
      data: post_data,
      dataType: "text",

      success: function(response) {
        $(document).find('.post').each(function(i, obj) {
          if ($(this).attr('data-post_id')==p_id) {
            $(this).find('.replies').first().append(response);
          }
        });
        hideReplyField();
      },
      error: function(jqXHR, textStatus, error) {
        $("#output_alert").html(jqXHR.responseText.toString());
        $("#output_alert").show();
      }
    });
  });
</script>
{% endblock body_js %}
