{% extends "codegalaxy.html" %}

{% block base_body %}

<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h1>{{ group.group_name }} has {{ group_size }} members</h1>
			<table id="my_table" table border="5">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</tr>
				{% for user in user_list %}
				<tr>
					<a href="../overview"></a>
					<td>{{ user.first_name }}</td>
					<td>{{ user.last_name }}</td>
					<td>{{ user.email }}</td>
				</tr>
				{% endfor %}
			</table>
			{% if not is_member %}
			<form method="post" action="/g/{{group.id}}/">
				{% csrf_token %}
				<input type="submit" value="Become member" class="button"/>
			</form>
			{% endif %}
		</div>
	</div>
</div>

{% endblock base_body %}
