{% extends "codegalaxy.html" %}

{% load staticfiles %}

{% block head_js %}
<script src="{% static "Chart.min.js" %}"></script>
{% endblock head_js %}

{% load i18n %}

{% block base_body %}

<div class="row">

  <div class="row">
    <div class="large-4 columns">
      <div class="panel">
        <legend>Biggest Groups</legend>
        {{ biggest_groups | safe }}
      </div class="panel">
    </div>

  <div class="large-8 columns">
    <div class="panel">
      <h1>{% trans "Group overview" %}</h1>
      <article class="vcard">
        <a href="../create"/>
        <div class="vcard-img large-12 medium-12 small-12 columns">
         <img class="reponsive-image" src="https://cdn2.iconfinder.com/data/icons/picol-vector/32/group_half_add-512.png" height="42" width="42">
       </div>
       <div class="large-12 medium-12 small-12 text-center">
        <ul class="vcard-text" .text-center>
          <li .text-center><strong>{% trans "Create new group" %}</strong></li>
        </ul>
      </div>
    </article>
    {% for group in groups %}
    <article class="vcard">
     <a href="/g/{{ group.id }}"/>
     <div class="vcard-img large-12 medium-12 small-12 columns">
      <img class="reponsive-image" src="https://cdn2.iconfinder.com/data/icons/picol-vector/32/group_half-512.png" height="42" width="42">
    </div>
    <div class="large-12 medium-12 small-12 text-center">
      <ul class="vcard-text" .text-center>
        <li .text-center><strong>{{ group.group_name }}</strong></li>
      </ul>
    </div>
  </article>
  {% endfor %}
</div>
</div>
</div>


{% endblock base_body %}
