{% extends "codegalaxy.html" %}

{%load staticfiles%}
{%load custom_filters%}

{% block base_body %}


<div class="row">
  <div class="large-3 columns text-center ">
    <div class="panel">
      <a href="#"><img src="{% static group.getGroupPicture %}"></a>
      <h5><a href="#">{{ group.group_name }}</a></h5>
    </div>
  </div>


<div class="row">
  <div class="large-12 columns">
    <h2>{{ group.group_name }} </h2>
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#feed">Feed</a></li>
      <li class="tab-title"><a href="#members">Members</a></li>
      {% if is_member %}
      {% if group_permissions == 0 %}
      <li class="tab-title"><a href="#add_members">Add New Members</a></li>
      <li class="tab-title"><a href="#edit_group">Edit</a></li>
      {% endif %}
      {% endif %}
    </ul>

    <hr/>

    <div class="tabs-content">
      <div class="content active" id="feed">
        {% if not is_member %}
        <form method="post" action="/g/{{group.id}}/">
          {% csrf_token %}
          <input type="submit" name="become_member" value="Become member" class="button success"/>
        </form>
        {% else %}
        <form method="post" action="/g/{{group.id}}/">
          {% csrf_token %}
          <input type="submit" name="leave_group" value="Leave group" class="button alert"/>
        </form>
        {% endif %}
        {% for item in data %}
        {% if item.type == 'FriendsWith' %}
        <div class="row">
          <div class="large-1 columns small-3"><img src="{% static "rocket1.png" %}"/></div>
          <div class="large-11 columns">

            <p><strong><a href="/u/{{ item.user_id }}">{{ item.user.first_name }} {{ item.user.last_name }} </a></strong>became friends with <a href="/u/{{ item.id }}">{{ item.friend.first_name }} {{ item.friend.last_name }}</a> </p>

          </div>
        </div>

        <hr/>
        {% endif %}
        {% if item.type == 'UserInGroup'%}
        <div class="row">
          <div class="large-1 columns small-3"><img src="{% static "rocket1.png" %}"/></div>
          <div class="large-11 columns">

            <p><strong><a href="/u/{{ item.user_id }}">{{ item.user.first_name }} {{ item.user.last_name }} </a></strong>was added to group: <a href="/g/{{ item.id }}">{{ item.group.group_name }}</a></p>

          </div>
        </div>

        <hr/>
        {% endif %}
        {% if item.type == 'MadeExerciseList'%}
        <div class="row">
          <div class="large-1 columns small-3"><img src="{% static "rocket1.png" %}"/></div>
          <div class="large-11 columns">

            <p><strong><a href="/u/{{ item.user_id }}">{{ item.user.first_name }} {{ item.user.last_name }} </a></strong>made an exercise list: <a href="/l/{{ item.id }}">{{ item.exercise_list.name }}</a></p>

          </div>
        </div>

        <hr/>
        {% endif %}
        {% endfor %}
        <div class="pagination">
          <span class="step-links">
            {% if data.has_previous %}
            <a href="?page={{ data.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
              Page {{ data.number }} of {{ data.paginator.num_pages }}
            </span>
            {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}">next</a>
            {% endif %}
          </span>
        </div>
      </div>
      <div class="content" id="edit_group">
        <form method="POST" action="/g/{{group.id}}/" enctype="multipart/form-data" data-abide>
          {% csrf_token %}
          <h5>Upload group picture</h5>
          <p>
            <input id="id_image" type="file" class="resizeme" name="image">
          </p>
          <input type="submit" value="Edit Group Picture" name="update_group_picture" class="small button round success"/>
        </form>
        <hr/>
      </div>
      <div class="content" id="add_members">
        {% for user in currentuser_friend_list %}
        <div class="small-12 columns">
          <div class="small-2 large-2 columns">
            <img src="{% static user.getProfilePicture %}">
          </div>
          <div class="small-4 large-8 columns">{{user.first_name}} {{user.last_name}}</div>
          <form method="POST" action="/g/{{group.id}}/">
            {% csrf_token %}
            <div class="small-6 large-4 columns">
              <input type="hidden" name="user_id_to_add" value="{{ user.id }}">
              <input type="submit" name="add_friend" value="Add User" class="button round success"/>
            </div>
          </form>
          <hr/>
        </div>
        {% endfor %}
      </div>
      <div class="content" id="members">
        {% for member in user_list %}
        <div class="large-2 small-2 columns">
          <a href="/u/{{ member.id }}"/>
          <img src="{% static member.getProfilePicture %}">
          <div class="panel">
            <h5>{{ member.first_name }}</h5>
            <h6 class="subheader">{{ member.last_name }}</h6>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>

{% endblock base_body %}
