{% extends "codegalaxy.html" %}

{% block base_body %}

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>Create a new group</h1>
    
    <div class="create_group-panel">
      <p>Add a name for your new group and select a group type</p>
        <form method="post" action="/g/create">
        {% csrf_token %}
          <div class="row collapse">
            <div class="small-11  columns">
              <input type="text" placeholder="Group Name" id="group_name" name="group_name" value="{{ group_name }}">
              {% if error_group_name %}
              <small class="error"> {{ error_group_name }}</small>
              {% endif %}
            </div>
          </div>

          <p>Do you want to create a private group?</p>
          <div class="switch">
      <input id="group_type" name="group_type" type="checkbox" checked>
      <label for="group_type">Private</label>
      </div> 
      
      <p></p>
          <input type="submit" value="Create Group" class="button"/>
        </form>
      </div>
    
    </div>
  </div>
</div>

{% endblock base_body %}
