{% extends "codegalaxy.html" %}

{% block base_body %}

<div class="row">
<div class="large-12 columns">
 
<div class="row">
<div class="large-12 hide-for-small">
<div id="featured" data-orbit>
<img src="http://www.hdwallpapersfactory.com/wallpaper/science_nasa_launch_pad_space_shuttle_discovery_rocket_desktop_1600x1200_hd-wallpaper-1168936.jpg" alt="slide image">
<img src="http://www.hdwallpapersfactory.com/wallpaper/science_nasa_launch_pad_space_shuttle_discovery_rocket_desktop_1600x1200_hd-wallpaper-1168936.jpg" alt="slide image">
<img src="http://www.hdwallpapersfactory.com/wallpaper/science_nasa_launch_pad_space_shuttle_discovery_rocket_desktop_1600x1200_hd-wallpaper-1168936.jpg">
</div>
</div>
</div>
 
 
<div class="row">
<div class="large-12 columns show-for-small">
<img src="http://placehold.it/1200x700&text=Mobile Header">
</div>
</div><br>
 
<div class="row">
<div class="large-12 columns">
<div class="row">
 
<div class="large-4 small-6 columns">
<h4>Upcoming Shows</h4><hr>
<div class="row">
<div class="large-1 column">
<img src="http://placehold.it/50x50&amp;text=[img]">
</div>
<div class="large-9 columns">
<h5><a href="#">Venue Name</a></h5>
<h6 class="subheader show-for-small">Doors at 00:00pm</h6>
</div>
</div><hr>
<div class="hide-for-small">
<div class="row">
<div class="large-1 column">
<img src="http://placehold.it/50x50&amp;text=[img]">
</div>
<div class="large-9 columns">
<h5 class="subheader"><a href="#">Venue Name</a></h5>
</div>
</div><hr>
<div class="row">
<div class="large-1 column">
<img src="http://placehold.it/50x50&amp;text=[img]">
</div>
<div class="large-9 columns">
<h5 class="subheader"><a href="#">Venue Name</a></h5>
</div>
</div><hr>
<div class="row">
<div class="large-1 column">
<img src="http://placehold.it/50x50&amp;text=[img]">
</div>
<div class="large-9 columns">
<h5 class="subheader"><a href="#">Venue Name</a></h5>
</div>
</div>
</div>
</div>
 
 
<div class="large-4 small-6 columns">
<img src="http://placehold.it/300x465&amp;text=Image">
</div>
 
 
<div class="large-4 small-12 columns">
<h4>Blog</h4><hr>
<div class="panel">
<h5><a href="#">Post Title 1</a></h5>
<h6 class="subheader">
Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...
</h6>
<h6><a href="#">Read More »</a></h6>
</div>
<div class="panel hide-for-small">
<h5><a href="#">Post Title 2 »</a></h5>
</div>
<div class="panel hide-for-small">
<h5><a href="#">Post Title 3 »</a></h5>
</div>
<a href="#" class="right">Go To Blog »</a>
</div>
 
</div>
</div>
</div>
 
 
<!-- For Foundation Icons, put this in your head -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<!-- Footer -->
<footer class="footer">
  <div class="row full-width">
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-laptop"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
    </div>
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-html5"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4>Work With Me</h4>
      <ul class="footer-links">
        <li><a href="#">What I Do</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ's</a></li>
      <ul>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4>Follow Me</h4>
      <ul class="footer-links">
        <li><a href="#">GitHub</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Dribbble</a></li>
      <ul>
    </div>
  </div>
</footer>
 
</div>
</div>
<script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
<script src="../../assets/js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
  </script>
<script src="../assets/js/templates/jquery.js"></script>
<script src="../assets/js/templates/foundation.js"></script>
<script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
    
{% endblock base_body %}
