{% extends "codegalaxy.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_js %}
<script src="{% static "foundation/js/foundation.abide.js" %}"></script>
{% endblock head_js %}

{% block base_body %}



<div class="row">
  <div class="large-12 columns">
    <h1><a href="#"><img src={% static "WelcomeBack.png" %}/></a></h1>
  </div>
</div>

<div class="row">
 <div class="large-12 columns">
  <ul class="centered">
  <div class="content" data-section-content>
    <p>
      <div class="row">
        <div class="large-4 large-centered columns">
          <ul class="centered">
          <div class="signup-panel">
            <p class="welcome">{% trans "Log in" %}</p>
            {% if error_login %}
            <div class="alert-box alert radius">{% trans "Incorrect email and/or password." %}</div>
            {% endif %}
            <form method="post" action="/login/" data-abide>
              {% csrf_token %}
              <div class="row collapse">
                <div class="small-1 columns">
                  <span class="prefix"><i class="fi-mail size-28"></i></span>
                </div>
                <div class="small-11  columns">
                  <input type="email" required placeholder="{% trans "Email Address" %}" id="your_email" name="your_email" value="{{ your_email }}">
                  <small class="error">{% trans "Enter a valid Email Address." %}</small>
                </div>
              </div>
              <div class="row collapse">
                <div class="small-1 columns ">
                  <span class="prefix"><i class="fi-lock size-28"></i></span>
                </div>
                <div class="small-11 columns ">
                  <input type="password" required placeholder="{% trans "Password" %}" id="your_password" name="your_password">
                  <small class="error">{% trans "Enter a valid Password." %}</small>
                </div>
              </div>
              <input type="submit" value="Log In" class="button small round"/>
            </form>
          </div>
        </ul>
        </div>
      </div></p>
    </div>
  </ul>
  </div>
</div>

{% endblock base_body %}
