{% extends "codegalaxy.html" %}
{% load staticfiles %}

{% block base_body %}
  {% block page_css %}
    <link rel="stylesheet" href="{% static "css/logout.css" %}" />
  {% endblock page_css %}

  <div class="row">
    <div class="large-12 columns">
      <a href="/"><img src={% static "Logout.png" %}/></a>
    </div>
  </div>
  </div>
  <br/>
  <div class="row">
    <div class="large-text-center">
      <div data-alert class="alert-box info radius" id="message">
        {% trans "See you next time, earthling. What is the phrase you earthlings always use?" %} <br/>
        {% trans "Oh yes. I will miss you, is that right?" %}
      </div>
      <img id="grub" src="{% static "media/aliens/grub_waving_tear.gif" %}">
    </div>
  </div>

{% endblock base_body %}
