{% extends "codegalaxy.html" %}

{% block base_body %}

<div class="row">
  <div class="large-12 columns">
      <div class="panel">
        <h1>User page: {{ user.id }} {{ user.first_name }} {{ user.last_name }}</h1>
        {% if logged_in %}
          <h3>We are logged in!</h3>
        {% endif %}

        {% if not already_friends and not logged_in %}
          <form method="post" action="/u/{{user.id}}/">
         {% csrf_token %}
          <input type="submit" value="Become friends" class="button"/>
          </form>
        {% endif %}
      </div>
  </div>
</div>

<div class="row">
	<div class="small-12 medium-12 large-12 columns vcard-container ">

    <div class="panel">
            <h1>Friends:</h1>
    	<div class="row">

    		{% for user in friend_list %}
    		<article class="vcard">
    			<a href="../{{ user.id }}"/>
    			<div class="vcard-img large-12 medium-12 small-12 columns">
    				<img class="reponsive-image" src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png" height="42" width="42">
    			</div>
    			<div class="large-12 medium-12 small-12 text-center">
    				<ul class="vcard-text" .text-center>
                        <li .text-center><strong>{{ user.first_name }}</strong></li>
                    </ul>
    			</div>
    		</article>
    		{% endfor %}
    		</div>
    	</div>
  	</div>
</div>

<div class="row">
  <div class="large-12 columns">
      <div class="panel">
      <h1>Groups:</h1>
              {% for group in group_list %}
        <article class="vcard">
          <a href="../{{ group.id }}"/>
          <div class="vcard-img large-12 medium-12 small-12 columns">
            <img class="reponsive-image" src="https://cdn2.iconfinder.com/data/icons/picol-vector/32/group_half-512.png" height="42" width="42">
          </div>
          <div class="large-12 medium-12 small-12 text-center">
            <ul class="vcard-text" .text-center>
                        <li .text-center><strong>{{ group.group_name }}</strong></li>
                    </ul>
          </div>
        </article>
      {% endfor %}
      </div>
  </div>
</div>

{% endblock base_body %}
