{% extends "codegalaxy.html" %}

{% load staticfiles %}

{% block base_body %}
<div class="row">
  <div class="row text.center">
    <h1>{% trans "All users:" %}</h1>
  </div>
  <div class="row">
    {% for user in users %}
    <div class="small-2 columns end">
      <div class="panel radius">
        <a href="../{{ user.id }}">
          <img src="{% static user.getProfilePicture %}">
          <h5 class="text-cut-off">{{ user.first_name }}</h5>
          <h6 class="text-cut-off">{{ user.last_name }}</h6>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock base_body %}
