.question {
    margin-top: 2em;
}

.question > a {
  color: #815ba4;
}

.question > a :hover {
  text-decoration: underline;
}

.hints {
    width: 40%;
    border-radius: 1em;
}

.answers {
    margin-right: auto;
    margin-left: auto;
}

#caption {
    background-color: lightgray;
}

#turtle_output {
    background-image: url(../media/galaxy.jpg);
}
