.search_pict{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.challengers{
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

#textbox{
  position: absolute;
  top: 1em;
  left: 10em;
  width: 80%;
  color: black;
}

#arrow-right{
  transform: scale(0.4);
  position: relative;
  width: auto;
}

#textbox:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #9fd2e6;
  display: block;
  width: 0;
  z-index: 1;
  left: 1px;
  top: 70px;
}
