

#bg_panel{
    background-color: #ECF0F1 !important;
    color: #2980B9 ;
}

h2#modalTitle{
    color: #1d1d1d !important;
}

table{
    margin-left: auto;
    margin-right: auto;
}


h4{
    color: #3498DB !important;
}

.Arrow{
    width: 25px;
    height: 25px;
}

.icon{
    background-repeat: no-repeat;
    background-position: 50%;

    /*border-radius: 50%;*/
    width: 100px;
    height: 100px;
}

#subjects{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ECF0F1;
    float: left;
    margin: -10px;
}

.exercise:hover{
     background-color: #ECF0F1 !important;
}

button[name="share_result"] {
    margin-bottom: 0px;
}

.exercise-wrapper {
    border-style: solid;
    border-color: rgb(171, 171, 171);
    border-radius: 8px;

}

.alert-box {
    button {
        margin-bottom: 0px;
    }
}
