

body{

}

#bg_panel{
    background-color: #ECF0F1 !important;
    color: #2980B9 ;
}

h2{
    color: #ECF0F1 !important;
}

h3{
    color: #3498DB !important;
}

#Arrow{
    width: 25px;
    height: 25px;
}

#Icon{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #ECF0F1;
}

#subjects{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ECF0F1;
    float: left;
    margin: -10px;
}

.exercise:hover{
     background-color: #ECF0F1 !important;
}


.Start{
    background-color: #E74C3C !important;
}