@-webkit-keyframes makeVisible {
    from {
        visibility:hidden;
    }
    50% {
        visibility:hidden;
    }
    to {
        visibility:visible;
    }
}


@-moz-keyframes makeVisible {
    from {
        visibility:hidden;
    }
    50% {
        visibility:hidden;
    }
    to {
        visibility:visible;
    }
}

@keyframes makeVisible {
    from {
        visibility:hidden;
    }
    50% {
        visibility:hidden;
    }
    to {
        visibility:visible;
    }
}


.planet{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
    background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    margin-top: 20px;
    opacity: 0.5;
    text-align: center;

}

.slick-center > .planet + .information{
    animation: makeVisible 1s linear;
    -moz-animation: makeVisible 1s linear;
    -webkit-animation: makeVisible 1s linear;
    -ms-animation: makeVisible 1s linear;
    -o-animation: makeVisible 1s linear;
    -webkit-animation-fill-mode: forwards;
}

.information{

    visibility: hidden;
    margin-top: 50px;
    width: auto;
    position: relative;
}


/*Hier*/
.slick-center > .planet{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 100px;
    height: 100px;
    opacity: 1;
    margin-top: 0px;
}

.slick-active > .planet{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.center{
    height:100px;
}