@-webkit-keyframes action {
    from {
        visibility:hidden;
    }
    50% {
        visibility:hidden;
    }
    to {
        visibility:visible;
    }
}

@keyframes makeVisible {
    from {
        visibility:hidden;
    }
    50% {
        visibility:hidden;
    }
    to {
        visibility:visible;
    }
}

.sql {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #62ff4a 0%, #00b301 100%, #018d0e 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, #62ff4a,  #00b301);
    background-image: radial-gradient(45px 45px 45deg, circle cover, #62ff4a 0%,  #00b301 100%, #018d0e 95%);
}

.cpp {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #e47474 0%, #d6000f 100%, #c00005 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, #e47474, #d6000f);
    background-image: radial-gradient(45px 45px 45deg, circle cover, #e47474 0%, #d6000f 100%, #c00005 95%);
}

.python {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #82ffd2 0%, #52baff 100%, #2eaeff 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, #75fff2, #489aff);
    background-image: radial-gradient(45px 45px 45deg, circle cover, #53f8ff 0%, #52baff 100%, #2eaeff 95%);
}

.planet {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 20px;
    opacity: 0.5;
    text-align: center;

}

.slick-center > .planet + .information {
    animation: action 1s linear;
    -webkit-animation: action 1s linear;
    -webkit-animation-fill-mode: forwards;
}

.information {
    visibility: hidden;
    margin-top: 25px;
    width: auto;
}

.slick-center > .planet {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transform: scale(1.5);
    opacity: 1;
    left: 25px;
}

.slick-active > .planet {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
