{% extends "codegalaxy.html" %}
{% load staticfiles %}
{% load i18n %}


{% block base_body %}
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <div class="row">
          <h3>{% trans "Question" %}</h3>
        </div>

        <hr>
        <div class="row">
          <div class="large-6 columns">
            {{ exercise.question }}
          </div>
        </div>
        <hr>

        <form id="answer_question" method="post" action="{{ exercise.exercise_number }}/submit">
          {% csrf_token %}

          {% if exercise.exercise_type == "Open Question" %}
            <div class="row" id="Open Question">

              {% for i in answers %}
                <div class="row">
                  <div class="large-6 large-offset-1 columns">
                    {{ forloop.counter }}
                    {{ i }}
                    {% if current_answer %}
                      {% if forloop.counter == current_answer  %}
                        <input type="radio" name="corr_answer" value="{{ forloop.counter }}" id="corr_answer_no_{{ forloop.counter }}" checked><label for="answer_no_{{ forloop.counter }}">{% trans "Correct answer" %}</label>
                      {% else %}
                        <input type="radio" name="corr_answer" value="{{ forloop.counter }}" id="corr_answer_no_{{ forloop.counter }}" ><label for="answer_no_{{ forloop.counter }}">{% trans "Correct answer" %}</label>
                      {% endif %}
                    {% else %}
                      {% if forloop.counter == 1  %}
                        <input type="radio" name="corr_answer" value="{{ forloop.counter }}" id="corr_answer_no_{{ forloop.counter }}" checked><label for="answer_no_{{ forloop.counter }}">{% trans "Correct answer" %}</label>
                      {% else %}
                        <input type="radio" name="corr_answer" value="{{ forloop.counter }}" id="corr_answer_no_{{ forloop.counter }}" ><label for="answer_no_{{ forloop.counter }}">{% trans "Correct answer" %}</label>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>

          {% else %}
            <div class="row" id="Code">
              {% if current_answer %}
                <textarea id="user_code" name="user_code">{{ current_answer }}</textarea>
              {% else %}
                <textarea id="user_code" name="user_code">{{ exercise.code }}</textarea>
              {% endif %}

              <div class="large-9 columns">
                <!-- <div class="row">
                To be used if we have turtle graphics
                <canvas id="mycanvas" class="code-output"></canvas> -->
              </div>
            </div>
            <div id="output_alert" class="alert-box alert radius" data-alert></div>

            <div class="row">
              <div class="row">
                <div class="large-10 columns">
                  {% if not solved %}
                    {% if hints %}
                      <input id="get_hint" type="button" name="get_hint" class="button tiny radius" onclick="javascript:addHint()" value="{% trans "Get hint" %}">
                      <textarea id="used_hints" name="used_hints" hidden="True">0</textarea>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
              <div class="large-10 columns">
                {% if not solved %}
                  <ul>
                    {% for hint in hints %}
                      <li id="hint{{ forloop.counter }}" hidden="True" ><label>{{ hint }}</label></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
            {% if not solved %}
              <button type="button" class="small radius button" id="reset">{% trans "Reset question" %}</button>
            {% endif %}
          {% endif %}

          <hr>

          <div class="row">
            <div class="large-text-center">
              {% if list_owner %}
                <h1>{% trans "This question is part of your own list!" %}</h1>
              {% else %}
                {% if exercise.exercise_type == "Open Question" %}
                  {% if solved %}
                    <h1>{% trans "You solved the question!" %}</h1>
                  {% else %}
                    <input id="submit_answer" type="submit" class="button tiny radius" value="Answer">
                  {% endif %}
                {% else %}
                  {% if solved %}
                    <h1>{% trans "You solved the question!" %}</h1>
                  {% else %}
                    <input id="code_output" name="code_output" type="hidden" value=""></input>
                    <button id="submit_answer_code" type="button" class="button tiny radius">{% trans "Answer" %}</button>
                  {% endif %}
                {% endif %}
              {% endif %}
              <a href="/l/{{ exercise.exerciseList_id }}" class="button tiny radius">{% trans "Return to list" %}</a></li>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock base_body %}

{% block body_js %}
  <script type="text/javascript">

    var code_text = CodeMirror.fromTextArea(user_code,
            {
              lineNumbers: true,
              {% if list.programming_language_string == "Python" %}
                mode: "python",
              {% elif list.programming_language_string == "C++" %}
                mode: "text/x-c++src",
              {% elif list.programming_language_string == "SQL" %}
                mode: "sql",
              {% endif %}
              theme: "monokai"
            });

    var curr_hint = 1;
    function addHint(){
      $('#hint'+curr_hint).show();
      $("#used_hints").val((curr_hint).toString());
      if(curr_hint >= {{ hints|length }}){
        $('#get_hint').hide();
      }
      ++curr_hint;
    }

    $("#output_alert").hide();
    {% if not list_owner %}
    $("#get_hint").click(function()
    {
      var post_data = { list_id : {{ list_id }}, ex_number : {{exercise.exercise_number}}, amount_of_hints : {{ hints|length }}, max_score : {{ exercise.max_score }}, penalty : {{ penalty }} }
      $.ajax({
        type: "POST",
        url: "/addHint/",
        data: post_data,
        dataType: "text",

        success: function(response) {
          // nothing needs to happen on the site
        },
        error: function(jqXHR, textStatus, error) {
          $("#output_alert").html(jqXHR.responseText.toString());
          $("#output_alert").show();
        }
      });
    });
    {% endif %}
    $("#submit_answer_code").click(function()
    {
      var post_data = { code : code_text.getValue() };
      $.ajax({
        type: "POST",
        url: "/eval/{{ exercise.programming_language }}/".toLowerCase(),
        data: post_data,
        dataType: "text",

        success: function(response) {
          $("#code_output").val(response);
          $("#answer_question").submit();
        },
        error: function(jqXHR, textStatus, error) {
          $("#output_alert").html(jqXHR.responseText.toString());
          $("#output_alert").show();
        }
      });
    });

    {% if exercise.exercise_type == "Code" %}
      $('#reset').click(function(){
        code_text.getDoc().setValue($("#user_code").val());
      });
    {% endif %}

    {% if list_owner %}
      for(i = 0; i < {{ hints|length }}; i++){
        addHint()
      }
    {% else %}
      for(i = 0; i < {{ last_hint_used }}; i++){
        addHint()
      }
    {% endif %}

  </script>


{% endblock body_js %}
