{% extends "codegalaxy.html" %}
{% load staticfiles %}
{% load i18n %}
{% load custom_filters %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "css/answerQuestion.css" %}" />
{% endblock page_css %}

{% block base_body %}
  <div class="row">

    <div class="row">
      <div data-alert class="alert-box info radius question">
      </div>
    </div>

    <form id="answer_question" method="post" action="{{ exercise.exercise_number }}/submit">
      {% csrf_token %}

      {% if exercise.exercise_type == "Open Question" %}
        {% include "partial/answer_open.html" %}
      {% elif exercise.exercise_type == "Turtle" %}
        {% include "partial/answer_turtle.html" %}
      {% else %}
        {% include "partial/answer_code.html" %}
      {% endif %}

      {% if exercise.exercise_type != "Open Question" %}
        {% if list_owner %}
          <h3>{% trans "Answer" %}</h3>
          <textarea id="correct_answer" name="correct_answer">{{ correct_answer }}</textarea>
        {% endif %}
      {% endif %}


      <div class="row">
        <div class="text-center">
          {% if logged_in %}
            {% if list_owner %}
              <h3>{% trans "This question is part of your own list!" %}</h3>
            {% else %}
              {% if solved %}
                <h2>{% trans "You solved the question!" %}</h2>
              {% else %}
                {% if exercise.exercise_type == "Open Question" %}
                  <input id="submit_answer" type="submit" class="button tiny radius" value="{% trans "Answer" %}">
                {% elif exercise.exercise_type == "Code" %}
                  <input id="code_output" name="code_output" type="hidden" value=""></input>
                  <input id="submit_answer_code" type="button" class="button tiny radius" value="{% trans "Answer" %}">
                {% else %}
                  <pre id="output"></pre>
                  <div id="turtle_output"></div>
                  <input id="code_output" name="code_output" type="hidden" value=""></input>
                  <input id="submit_answer_turtle" type="button" class="button tiny radius" value="{% trans "Answer" %}">
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
          <a href="/l/{{ exercise.exerciseList_id }}" class="button tiny radius">{% trans "Return to list" %}</a></li>
          {% if list_owner %}
            <a href="/l/{{ exercise.exerciseList_id }}/{{ exercise.id}}/{{ exercise.exercise_number }}/edit" class="button tiny radius">{% trans "Edit Question" %}</a>
          {% endif %}
        </div>
      </div>
    </form>
  </div>

{% endblock base_body %}

{% block body_js %}
  <script type="text/javascript">

    {% if exercise.exercise_type != "Open Question" %}
      var code_text = CodeMirror.fromTextArea(user_code,
              {
                {% if list_owner or not logged_in %}
                  readOnly: true,
                {% endif %}
                lineNumbers: true,
                {% if list.programming_language_string == "Python" %}
                  mode: "python",
                {% elif list.programming_language_string == "C++" %}
                  mode: "text/x-c++src",
                {% elif list.programming_language_string == "SQL" %}
                  mode: "sql",
                {% endif %}
                theme: "monokai"
              });
      {% if list_owner %}
        var correct_answer_code = CodeMirror.fromTextArea(correct_answer,
                {
                  lineNumbers: true,
                  readOnly: true,
                  {% if list.programming_language_string == "Python" %}
                    mode: "python",
                  {% elif list.programming_language_string == "C++" %}
                    mode: "text/x-c++src",
                  {% elif list.programming_language_string == "SQL" %}
                    mode: "sql",
                  {% endif %}
                  theme: "monokai"
                });
      {% endif %}
    {% endif %}

    var curr_hint = 1;

    $(document).ready(function(){
      var str = "{%  multi_line exercise.question %}";
      var html = $.parseHTML(str);
      $('.question').append(html);

      $(".hints").hide();
      checkAvailable();

      {% if list_owner %}
        for(i = 0; i < {{ hints|length }}; i++){
          addHint();
        }
      {% else %}
        for(i = 0; i < {{ last_hint_used }}; i++){
          addHint();
        }
      {% endif %}
    });

    function checkAvailable() {
      if(curr_hint >= {{ hints|length }}) {
        $('#get_hint').addClass('disabled');
      }
    }

    function addHint() {
      if(curr_hint == 1) {
        $(".hints").show();
      }
      $('#hint'+curr_hint).show();
      $("#used_hints").val((curr_hint).toString());
      checkAvailable();
      ++curr_hint;
    }

    $("#get_hint").click(function(){
      if(!$("#get_hint").hasClass("disabled")) {
        addHint();
      }
    });

    $("#output_alert").hide();
    {% if not list_owner %}
      $("#get_hint").click(function() {
        if(!$("#get_hint").hasClass("disabled")) {
          var post_data = {
            list_id: {{ list_id }},
            ex_number: {{exercise.exercise_number}},
            amount_of_hints: {{ hints|length }},
            max_score: {{ exercise.max_score }},
            penalty: {{ penalty }}
          }
          $.ajax({
            type: "POST",
            url: "/addHint/",
            data: post_data,
            dataType: "text",

            success: function (response) {
              // nothing needs to happen on the site
            },
            error: function (jqXHR, textStatus, error) {
              $("#output_alert").html(jqXHR.responseText.toString());
              $("#output_alert").show();
            }
          });
        }
      });
    {% endif %}

    {% if exercise.exercise_type == "Code" %}
      $('#reset').click(function(){
        code_text.getDoc().setValue($("#user_code").val());
      });
      $("#submit_answer_code").click(function()
      {
        var post_data = { code : code_text.getValue() };
        $.ajax({
          type: "POST",
          url: "/eval/{{ exercise.programming_language }}/".toLowerCase(),
          data: post_data,
          dataType: "text",

          success: function(response) {
            $("#code_output").val(response);
            $("#answer_question").submit();
          },
          error: function(jqXHR, textStatus, error) {
            $("#output_alert").html(jqXHR.responseText.toString());
            $("#output_alert").show();
          }
        });
      });
    {% elif exercise.exercise_type == "Turtle" %}
      $('#reset').click(function(){
        code_text.getDoc().setValue($("#user_code").val());
      });
      $("#submit_answer_turtle").click(function() {
        code = code_text.getValue();
        runit();
        // alert(code);
        // var post_data = { code : code_text.getValue() };
        // $.ajax({
        //   type: "POST",
        //   url: "/eval/{{ exercise.programming_language }}/".toLowerCase(),
        //   data: post_data,
        //   dataType: "text",
        //
        //   success: function(response) {
        //     $("#code_output").val(response);
        //     $("#answer_question").submit();
        //   },
        //   error: function(jqXHR, textStatus, error) {
        //     $("#output_alert").html(jqXHR.responseText.toString());
        //     $("#output_alert").show();
        //   }
        // });
      });

      function builtinRead(x) {
          if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
                  throw "File not found: '" + x + "'";
          return Sk.builtinFiles["files"][x];
      }

      function runit() {
        var prefix = '' +
'import turtle\n' +
'class Rocket:\n' +

'    def __init__(self, exp_edges=[], exp_vertices=[(0, 0)]):\n' +
// Make [(),(),()]
'        self.exp_edges = [(x,y) for x in exp_edges\n' +
'        self.exp_vertices = exp_vertices\n' +

'        self.edges = []\n' +
'        self.vertices = [(0, 0)]\n' +

'        self.wrong = False\n' +

'        self._t = turtle.Turtle()\n' +
'        self._t.speed(1)\n' +
'        self._t.up()\n' +

'    def forward(self, amt):\n' +
'        """\n' +
'        Make the turtle move forward\n' +
'        @param amt The amount the turtle moves forward\n' +
'        """\n' +
'        self.jumpForward(amt)\n' +

'    # def backward(self, amt):\n' +
'    #     """\n' +
'    #     Make the turtle move backward\n' +
'    #     @param amt The amount the turtle moves backward\n' +
'    #     """\n' +
'    #     self.left(0)\n' +
'    #     self._t.backward(amt)\n' +
'    #     self.left(0)\n' +

'    def left(self, amt):\n' +
'        """\n' +
'        Make the turtle move to the left\n' +
'        @param amt The amount the turtle turns in degrees\n' +
'        """\n' +
'        self.turn()\n' +
'        self._t.left(amt)\n' +

'    def right(self, amt):\n' +
'        """\n' +
'        Make the turtle move to the right\n' +
'        @param amt The amount the turtle turns in degrees\n' +
'        """\n' +
'        self.turn()\n' +
'        self._t.right(amt)\n' +

'    def turn(self):\n' +
'        self.addLine()\n' +
'        self.drawLastLine()\n' +

'    def drawLastLine(self):\n' +
'        self.jump(self.vertices[self.edges[-1][0]])\n' +
'        correct = self.checkLine()\n' +

'        self._t.color("green" if correct else "red")\n' +
'        self._t.down()\n' +
'        self._t.goto(self.vertices[self.edges[-1][1]])\n' +

'        self._t.up()\n' +

'    def jump(self, pos):\n' +
'        save_speed = self._t.speed()\n' +
'        self._t.hideturtle()\n' +
'        self._t.speed(0)\n' +
'        self._t.goto(pos)\n' +
'        self._t.speed(save_speed)\n' +
'        self._t.showturtle()\n' +

'    def jumpForward(self, amt):\n' +
'        save_speed = self._t.speed()\n' +
'        self._t.hideturtle()\n' +
'        self._t.speed(0)\n' +
'        self._t.forward(amt)\n' +
'        self._t.speed(save_speed)\n' +
'        self._t.showturtle()\n' +

'    def checkLine(self):\n' +
'        edge = self.edges[-1]\n' +
'        v1 = self.vertices[edge[0]]\n' +
'        v2 = self.vertices[edge[1]]\n' +

'        return (v1 in self.exp_vertices and v2 in self.exp_vertices and edge in self.exp_edges)\n' +

'    def lastVertex(self):\n' +
'        return self.vertices[self.edges[-1][1]] if len(self.edges) > 0 else self.vertices[0]\n' +

'    def getPos(self):\n' +
'        return (int(self._t.xcor()), int(self._t.ycor()))\n' +

'    def addLine(self):\n' +
'        idx = 0\n' +

'        cur_pos = self.getPos()\n' +
'        if cur_pos not in self.vertices:\n' +
'            idx = len(self.vertices)\n' +
'            self.vertices.append(cur_pos)\n' +
'        else:\n' +
'            idx = self.vertices.index(cur_pos)\n' +

'        start_idx = self.vertices.index(self.lastVertex())\n' +
'        self.edges.append((start_idx or 0, idx))\n' +

'    def __str__(self):\n' +
'        return "Edges:" + str(self.edges) + "\\nVerti: " + str(self.vertices)\n' +
'rocket = Rocket({{correct_answer.1}}, {{correct_answer.0}})\n'

        var prog = prefix + code_text.getValue();
        prog += '\nrocket.right(0)\n' +
                'if (not rocket.wrong) and (set(rocket.exp_vertices) == set(rocket.vertices)):\n' +
                '    print("~~success~~")\n'

        Sk.pre = "output";
        console.log(prog)
        Sk.configure({output:turtleOutput, read:builtinRead});
        (Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'turtle_output';
        var myPromise = Sk.misceval.asyncToPromise(function() {
            return Sk.importMainWithBody("<stdin>", false, prog, true);
        });
        myPromise.then(function(mod) {
          console.log("success");
        },
          function(err) {
            $("#turtle_output").hide();
            $("#output_alert").html(err.toString());
            $("#output_alert").show();
         });
      }

      function turtleOutput(text) {
        if(text == "~~success~~") {
          $("#code_output").val("~~success~~");
          $("#answer_question").submit();
        }
        var mypre = document.getElementById("output");
        mypre.innerHTML = mypre.innerHTML + text;
      }

    {% endif %}
  </script>


{% endblock body_js %}
