{% extends "codegalaxy.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "css/createExerciseList.css" %}">
{% endblock page_css %}

{% block base_body %}
  <div class="row">
    <div class="large-12 columns text-center">
      <h1>{% trans "Create a new list" %}</h1>
    </div>
    <form method="post" id="list_form">
      {% csrf_token %}
      <div class="row">
        <div class="large-4 large-centered columns">

          <input type="text" placeholder= {% trans "'Enter list name'" %} name="list_name">

          <textarea placeholder= {% trans "'Enter description of exercise list'" %} name="description_text"></textarea>
          <div class="row">
            <div class="small-10 medium-11 columns">
              <div class="range-slider round" data-slider data-options="display_selector: #difficulty; start: 1; end: 5;">
                <span class="range-slider-handle" role="slider" tabindex="0"></span>
                <span class="range-slider-active-segment"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-4 large-centered columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">{% trans "Difficulty" %}</span>
              </div>
              <div class="small-9 columns">
                <input type="text" id="difficulty" name="difficulty" readonly="True" class="text-center">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-4 large-centered columns">
            <label>{% trans "Programming language" %}</label>
            <select name="prog_lang">
              {% for lang in prog_languages %}
                <option value="{{ lang.name }}">{{ lang.name }}</option>
              {% endfor %}
            </select>

          </div>
        </div>

        <div class="row">
          <div class="large-4 large-centered columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">{% trans "Subject" %}</span>
              </div>
              <div class="small-6 columns">
                <input type="text" id="subject" name="subject" class="text-center">

              </div>
              <div class="small-3  columns">
                <span class="postfix" id="add-subject"><i class="fi-plus"></i></span>
              </div>
            </div>
          </div>
          <div class="large-4 large-centered columns">
            <fieldset>
              <legend>{% trans "Subjects" %}</legend>
              <div class="row" id="subjects"></div>
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="large-2 large-centered columns">
            <input type="button" id="submitButton" class="success button" value={% trans "'Create list'" %}>
          </div>
        </div>
      </div>
    </form>

  </div>

{% endblock base_body %}

{% block body_js %}
  <script>

    $(document).ready(function() {

      var subjects = 0;
      $("#add-subject").click(function() {

        var val = $("#subject").val();
        if($.trim(val).length == 0){
          return;
        }else{
          val = $.trim(val);
          $("#subject").val("");
          var label = $("<span/>", {"class":"success label","id":"subject"+subjects});
          var input = $("<input/>", {"class":"text","hidden":"true","id":"subject"+subjects+"_text","value":val,"name":"subject"+subjects});
          label.html(val);
          subjects++;
          $("#subjects").append(label);
          $("#subjects").append(input);
          //$(document).foundation('span', 'reflow');
        }

      });

      $(document).on("click", "span[id^='subject']", function() {
        $(this).fadeOut("slow", function() {
          $("#" + $(this).attr("id") + "_text").remove();
          $(this).remove();
        });

      });

      $("#submitButton").click(function(){
        if(subjects == 0){
          window.alert("You need to add at least one subject!");
        }else{
          var list = $("#list_form");
          var input = $("<input>")
                  .attr("type", "hidden")
                  .attr("name", "subjects_amount").val(subjects);
          list.append(input);
          list.submit();
        }
      });

    });

  </script>
{% endblock body_js %}
