{% extends "codegalaxy.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "css/createExerciseList.css" %}">
{% endblock page_css %}

{% block base_body %}
  <div class="row">
    <div class="large-12 columns text-center">
      {% if edit %}
        <h1>{% trans "Edit list" %}</h1>
      {% else %}
        <h1>{% trans "Create a new list" %}</h1>
      {% endif %}
    </div>

    <form method="post" id="list_form">
      {% csrf_token %}
      <div class="row">
        <div class="large-4 large-centered columns">

          <input type="text" id="list_name" placeholder= {% trans "'Enter list name'" %} name="list_name" value="{{ list.name }}">

          <textarea id="description_text" placeholder= {% trans "'Enter description of exercise list'" %} name="description_text">{{ list.description }}</textarea>
          <div class="row">
            <div class="small-10 medium-11 columns">
              <div class="range-slider round" id="slider" data-slider data-options="display_selector: #difficulty; start: 1; end: 5;">
                <span class="range-slider-handle" role="slider" tabindex="0"></span>
                <span class="range-slider-active-segment"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-4 large-centered columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">{% trans "Difficulty" %}</span>
              </div>
              <div class="small-9 columns">
                <input type="text" id="difficulty" name="difficulty" readonly="True" class="text-center">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-4 large-centered columns">
            <label>{% trans "Programming language" %}</label>
            <select name="prog_lang">
              {% for lang in prog_languages %}
                {% if edit %}
                  {% if lang.name == list.programming_language.name %}
                    <option value="{{ lang.name }}" selected>{{ lang.name }}</option>
                  {% else %}
                    <option value="{{ lang.name }}">{{ lang.name }}</option>
                  {% endif %}

                {% else %}
                  <option value="{{ lang.name }}">{{ lang.name }}</option>
                {% endif %}
              {% endfor %}
            </select>

          </div>
        </div>

        <div class="row">
          <div class="large-4 large-centered columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">{% trans "Subject" %}</span>
              </div>
              <div class="small-6 columns">
                <input type="text" id="subject" name="subject" class="text-center">

              </div>
              <div class="small-3  columns">
                <span class="postfix" id="add-subject"><i class="fi-plus"></i></span>
              </div>
            </div>
          </div>
          <div class="large-4 large-centered columns">
            <fieldset>
              <legend>{% trans "Subjects" %}</legend>
              <div class="row" id="subjects">
                {% if edit %}
                  {% for subject in subjects %}
                    <span class="success label" id="{{ subject }}" onclick="javascript:removeSubject(this)">{{ subject }}</span>
                    <input type="hidden" id="{{ subject }}_text" name="subject{{ forloop.counter0 }}" hidden="True" class="text-center" value="{{ subject }}">
                  {% endfor %}
                {% endif %}
              </div>
            </fieldset>
          </div>
        </div>

        {% if edit %}
          <div class ="row">
            <div class="large-10 large-centered columns">
              <ul class="pricing-table">
                <li class="title">{% trans "Exercises" %}</li>
                <div class="row">
                  <ul class="accordion dragdrop" id="dragdrop" data-accordion>
                    {% for exercise in all_exercises %}
                      <li class="accordion-navigation" id="exercise{{ exercise.exercise_number }}">
                        <a href="#Exerc{{ exercise.exercise_number }}"> {{ exercise.title }}</a>
                        <div id="Exerc{{ exercise.exercise_number }}" class="content">
                          <div class="row">
                            <a href="../{{ exercise.id}}/{{ exercise.exercise_number }}/edit" class="button tiny radius">{% trans "Edit exercise" %}</a>
                            <input type="button" class="tiny radius button removal" id="remove_{{ exercise.exercise_number }}" value="remove">
                          </div>
                          {% if exercise.isReference %}
                            <a href="/l/{{exercise.isReferenceTo.0}}">Original</a>[{{exercise.isReferenceTo.1}}]
                          {% endif %}
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                  <li class="price"></li>
                </div>
              </ul>
            </div>
            <input type="hidden" id="order" name="order">
          </div>
        {% endif %}
        <div class="row">
          <div class="large-centered large-text-center columns">
            {% if edit %}
              <button id="sub_Button" type="submit" class="secondary success button radius">{% trans "Edit" %}</button>
              <a href="/l/{{ list.id }}" type="button" class="secondary button radius">{% trans "Return" %}</a>
            {% else %}
              <input type="submit" id="sub_Button" class="success button" value={% trans "'Create list'" %}>
            {% endif %}
            <button type="button" id="translate" class="secondary button">{% trans "Translate" %}</button>
          </div>
        </div>
      </div>
    </form>

    <div id="translation" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="row">
        <div class="left">
          <!--source: http://www.veryicon.com/icon/png/Art/Space%20Invaders/Alien.png -->
          <img class="alien" src="{% static "media/aliens/Kernel.png" %}">
        </div>
        <div id="textbox" class="large-6 columns">
          <div data-alert class="alert-box info radius">
            {% trans "Hi there space voyager! I'm Kernel!" %}
            {% trans "I'm from a far away planet named Bootloader." %}<br/>
            {% trans "I've stumbled upon this site and I really like it and I want to show it to my friends back home!" %}<br/>
            {% trans "The only problem is, on each planet we speak an other language, so I'm working on translating this site." %}<br/>
            {% trans "Think you could help? I will make your name famous across the universe if you do!" %}
          </div>
        </div>
      </div>
      <div class="row">
        <div id="original" class="large-5 columns">
          <fieldset>
            <legend>{% trans "Original" %}</legend>
            <div class="row collapse prefix-radius">
              <div class="small-4 columns">
                <span class="prefix">{% trans "List name" %}</span>
              </div>
              <div class="small-8 columns">
                <input type="text" id="original_name" class="text-center" value="" readonly>
              </div>
            </div>
            {% trans "Description" %}
            <textarea class="description_text" id="original_Description" readonly></textarea>
          </fieldset>
        </div>
        <div class="large-2 columns">
          <img id="arrow-right" src="{% static "media/arrow-right.png" %}">
          <select id="translate_to">
            {% for lang in languages %}
              <option value="{{ lang.name }}">{{ lang.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="large-5 columns">
          <fieldset>
            <legend>{% trans "Translated" %}</legend>
            <div id="translated" class="row collapse prefix-radius">
              <div class="small-4 columns">
                <span class="prefix">{% trans "List name" %}</span>
              </div>
              <div class="small-8 columns">
                <input type="text" id="translated_name" name="translated_name"  class="text-center" value="">
              </div>
            </div>
            {% trans "Description" %}
            <textarea class="description_text" id="translated_Description" name="translated_Description"></textarea>
          </fieldset>
        </div>
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

  </div>

{% endblock base_body %}

{% block body_js %}
  <script>

    $(document).ready(function() {

      {% if edit %}
        var subjects = {{ subjects|length }};
      {% else %}
        var subjects = 0;
      {% endif %}

      $("#add-subject").click(function() {

        var val = $("#subject").val();
        if($.trim(val).length == 0){
          return;
        }else{
          val = $.trim(val);
          $("#subject").val("");
          var label = $("<span/>", {"class":"success label","id":"subject"+subjects});
          var input = $("<input/>", {"class":"text","hidden":"true","id":"subject"+subjects+"_text","value":val,"name":"subject"+subjects});
          label.html(val);
          subjects++;
          $("#subjects").append(label);
          $("#subjects").append(input);
          //$(document).foundation('span', 'reflow');
        }

      });

      $(document).on("click", "span[id^='subject']", function() {
        $(this).fadeOut("slow", function() {
          $("#" + $(this).attr("id") + "_text").remove();
          $(this).remove();
        });

      });

      $("#sub_Button").click(function(){
        if(subjects == 0){
          window.alert("You need to add at least one subject!");
        }else{
          $(function(){
            addDictionary();
            var submit = true;
            if(submit){
              submit = checkTranslationDict(false);
            }
            if(submit) {

              $('#list_form').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                var post_data = form.serialize() + "&subjects_amount=" + subjects ;
                $.ajax({
                  type: 'POST',
                  url: "",
                  data: post_data,

                  success: function (response) {
                    location.reload();
                  }
                });
              });
            }
          });
        }
      });

    });

    $("#translate").click(function(){
      $("#translation").foundation('reveal', 'open', '');
      $("#original_name").val($("#list_name").val());
      $("#original_Description").val($("#description_text").val());
      {% if edit %}
        fillInputsForLang(translating_to);
      {% endif %}
    });

    /*TRANSLATION STUFF*/
    {% if edit %}
      var translation_dict = {{ translations|safe }};

    {% else %}
      var translation_dict = {};
    {% endif %}

    function fillInputsForLang(lang){
      var dict = translation_dict[lang];
      if(dict){
        if("name" in dict){
          $('#translated_name').val(dict['name']);
        }

        if("description" in dict){
          $('#translated_Description').val(dict['description']);
        }

      }
    }


    var translating_to = $("#translate_to").val();
    function saveToDict(){
      dict = translation_dict[translating_to];
      if (dict !== Array) {
        dict = {};
      }

      dict["name"] = $('#translated_name').val();
      dict["description"] = $('#translated_Description').val();


      translation_dict[translating_to] = dict;
    }

    $("#translate_to").change(function(){
      saveToDict();
      translating_to = this.val();
      fillInputsForLang(translating_to);
    });

    $('#translation').on('close', function(){
      saveToDict();
    });


    function addDictionary(){
      $.each(translation_dict, function(key,value){
        $.each(value, function(trans_key, trans_value){
          $('#list_form').append(
                  $('<input>').attr({name: key+'_'+trans_key,
                    hidden: true,
                    value: trans_value})
          );
        });
      });
    }

    function checkTranslationDict(){
      /*Checks if the translation dictionary is ok.
       This means that if you translate a part of the exercise, you need to translate it completely
       This is important so that you don't have half translations for the exercise
       */

      var missing_trans = [];

      if("{{ request.LANGUAGE_CODE }}" != "en" && !("English" in translation_dict) ){
        alert("Error: You need to atleast provide an english translation");
        return false;
      }

      $.each(translation_dict, function(key,value){
        //the amount of inputs that are empty
        var empty = 0;
        //the amounts of inputs that are not empty
        var not_empty = 0;
        $.each(value, function(trans_key, trans_value){
          //filter white spaces

          if(trans_value.replace(/\s+/g, '') == ""){
            empty++;
          }else{
            not_empty++;
          }
        });

        if(empty > 0 && key == "English"){
          alert("Error: You need to at least provide an english translation");
          return false;
        }

        if(empty != Object.keys(value).length  && empty != 0 ){
          //problem there are translations missing
          missing_trans.push(key);
        }
      });
      if($(missing_trans).length > 0){
        alert("Error: There are translations missing for: " + missing_trans +". If you don't want translations for these languages" +
        "then just remove all the entries for these languages, or fill in the missing translations for these languages");
        return false;
      }
      return true;
    }

    {% if edit %}
      function removeSubject(obj){

        $( '#' + obj.id ).fadeOut( "slow", function() {
          // Animation complete.
          obj.parentNode.removeChild(obj);
          var text = document.getElementById(obj.id + "_text" );
          text.parentNode.removeChild(text);

        });
      }

      var updateFunc = function (event,ui){
        var t = $(this).sortable("toArray").toString();
        $("#order").val(t);
      };

      $(function() {
        $( "#dragdrop" ).sortable({
          delay:100,
          update: updateFunc
        });
        $( "#dragdrop" ).disableSelection();
        $( "#dragdrop").on("callUpdate", updateFunc);
      });


      $(".removal").click(function(){
        var text = this.id;
        text = text.replace('remove_', '');
        var remove = $("#exercise" + text);
        $(remove).remove();
        $( "#dragdrop").trigger("callUpdate");
      });

      //Init document
      $(document).ready(function(){
        $('#slider').foundation('slider','set_value',{{ list.difficulty }});
        var t = $('#dragdrop').sortable("toArray").toString();
        $("#order").val(t);
      });

    {% endif %}
  </script>
{% endblock body_js %}
