{% extends "codegalaxy.html" %}

{% block base_body %}
  {% load staticfiles %}

  <div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="large-12 columns">
      <div class="panel">
        <form method="post">

          {% csrf_token %}
          <div class="row">

            <hr>
            <div class="row">
              <div class="text-center column">
                <h3>
                  Create exercise
                </h3>
              </div>
            </div>


            <div class="row">
              <div class="large-4 large-centered columns">
                <div class="row collapse prefix-radius">
                  <div class="small-4 columns">
                    <span class="prefix">Exercise title</span>
                  </div>
                  <div class="small-8 columns">
                    <input type="text" id="title" name="title"  class="text-center">
                  </div>
                </div>
              </div>
            </div>


            <div class="Diff">
              <div class="row">
                <div class="large-4 large-centered columns">
                  <div class="row">
                    <div class="small-10 medium-11 columns">
                      <div class="range-slider round" data-slider data-options="display_selector: #difficulty; start: 1; end: 5;">
                        <span class="range-slider-handle" role="slider" tabindex="0"></span>
                        <span class="range-slider-active-segment"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="large-4 large-centered columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-3 columns">
                      <span class="prefix">Difficulty</span>
                    </div>
                    <div class="small-9 columns">
                      <input type="text" id="difficulty" name="difficulty" readonly="True" class="text-center">
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="large-5 large-centered columns">
                Question
                <textarea name="Question"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="large-6 large-centered columns">
                <label>Exercise Type:</label>
                <input type="radio" name="exercise_type" value="Code" id="exercise_type_code" onchange="javascript:ShowContent();"><label for="exercise_type_code">Code question</label>
                <input type="radio" name="exercise_type" value="Open Question" id="exercise_type_open" onchange="javascript:ShowContent()"><label for="exercise_type_open">Open question</label>

              </div>
            </div>


            <hr>

            <div class="row" id="Code_Question" hidden="True">


              <div class="max_score">
                <div class="row">
                  <div class="large-4 large-centered columns">
                    <div class="row">
                      <div class="small-10 medium-11 columns">
                        <div class="range-slider round" id="slider" data-slider data-options="display_selector: #max; start: 1; end: 10;" onchange="javascript:removeHints()">
                          <span class="range-slider-handle" role="slider" tabindex="0"></span>
                          <span class="range-slider-active-segment"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="large-4 large-centered columns">
                    <div class="row collapse prefix-radius">
                      <div class="small-3 columns">
                        <span class="prefix">Max score</span>
                      </div>
                      <div class="small-9 columns">
                        <input type="text" id="max" name="max" readonly="True" class="text-center">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <script src="{% static "codemirror/lib/codemirror.js" %}"></script>
              <link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
              <script src="{% static "codemirror/mode/python/python.js" %}"></script>
              <link rel="stylesheet" href="{% static "codemirror/theme/monokai.css" %}">

              <div class ="row">
                <div class="large-8 large-offset-1 columns">

                  <u>Code the user gets to see:</u>

                  <textarea id="code" name="code"></textarea>
                  <script>
                    var myCodeMirror = CodeMirror.fromTextArea(code,
                            {
                              lineNumbers: true,
                              mode: "python",
                              theme: "monokai"
                            });
                  </script>
                </div>
              </div>
              <div class ="row">
                <div class="large-8 large-offset-1 columns">

                  <u>Expected output</u>
                  <textarea id="output" name="output"></textarea>
                  <script>
                    var myCodeMirror = CodeMirror.fromTextArea(output,
                            {
                              lineNumbers: true,
                              mode: "python",
                              theme: "monokai"
                            });
                  </script>
                </div>

              </div>


              <!--
                Tips
                -->
              <div class="row" id="Tips_Row" hidden="True">
                <h3>Tips:</h3>
                <div class="large-4 right columns">
                  <input type="button" class="button tiny radius" value="Add Tip" onclick="javascript:add('text');">
                </div>
                <div class="row">
                  <span id="Hints"> </span>

                </div>
              </div>

            </div>

            <div class="row" id="Open_Question" hidden="True">
              <div class="row">
                <div class="large-4 large-centered columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-3 columns">
                      <span class="prefix">Max score</span>
                    </div>
                    <div class="small-9 columns">
                      <input type="text" id="max_open" name="max_open" readonly="True" class="text-center" value="0">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="large-8 large-offset-2 columns">

                  <u>Possible answers</u>    <i class="fi-plus" onclick="javascript:addAnswer()"></i> <i class="fi-minus" onclick="javascript:removeAnswer()"></i>
                  {% for i in "12345" %}
                    <div class ="row" id="answer{{ i }}" hidden="True">
                      <div class="large-1 columns">
                        {{ i }}.
                      </div>
                      <div class="large-5 columns">
                        <input type="text" id="answer_no_{{ i }}" placeholder="Possible Answer" name="answer_no_{{ i }}">
                      </div>
                      <div class="large-6 columns">
                        {% if i == "1"  %}
                          <input type="radio" name="corr_answer" value="{{ i }}" id="corr_answer_no_{{ i }}" checked><label for="answer_no_{{ i }}">Correct answer</label>
                        {% else %}
                          <input type="radio" name="corr_answer" value="{{ i }}" id="corr_answer_no_{{ i }}" ><label for="answer_no_{{ i }}">Correct answer</label>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <br/>
              </div>

            </div>
            <hr>

            <div class="row">
              <div class="large-text-center">
                <input type="submit" name="submit" class="button tiny radius" value="Create exercise">
              </div>
            </div>
          </div>
        </form>

        <script language="javascript">

          var answers = 0;
          function addAnswer(){
            if(answers >= 5){
              return;
            }

            var currentAnswer = document.getElementById("answer" + (answers +1));
            currentAnswer.hidden = false;
            answers++;
            document.getElementById("max_open").value = answers;
            console.log(document.getElementById("max_open").value)
          }

          function removeAnswer(){
            if(answers <= 1){
              return;
            }

            var currentAnswer = document.getElementById("answer" + answers);
            currentAnswer.hidden = true;
            --answers;
            document.getElementById("max_open").value = answers;
          }

          function ShowContent(){
            if(document.getElementById("Tips_Row").hidden){
              document.getElementById("Tips_Row").hidden = false;
            }

            if(document.getElementById("exercise_type_code").checked){
              document.getElementById("Code_Question").hidden = false;
              //Reset value to 5 when going from hidden to unhidden -> normally this breaks foundation slider
              //so we need to reset it
              $('#slider').foundation('slider','set_value',5);
              document.getElementById("Open_Question").hidden = true;
            }else if(document.getElementById('exercise_type_open').checked){
              document.getElementById("Code_Question").hidden = true;
              document.getElementById("Open_Question").hidden = false;
            }

          }

          var hint_nmbr = 0;
          function add(type){

            if(hint_nmbr >= document.getElementById("max").value){
              return;
            }
            var element=document.createElement("input");
            element.setAttribute("type",type);

            element.setAttribute("name","hint"+(hint_nmbr+1));
            var foo=document.getElementById("Hints");
            element.setAttribute("placeholder","Tip"+ (hint_nmbr+1));

            //create div
            var div = document.createElement("div");
            div.setAttribute("class", "large-5 large-centered columns");

            var row = document.createElement("div");
            row.setAttribute("class", "row");
            row.setAttribute("id", "row"+(hint_nmbr+1));
            div.appendChild(element);
            row.appendChild(div);
            foo.appendChild(row);
            ++hint_nmbr;
          }

          function removeHints(){
            var value = document.getElementById("max").value;
            if((hint_nmbr-value) > 0){
              var span = document.getElementById("Hints");
              for(i = 0; i < (hint_nmbr-value);++i){

                var name = "row"+ (hint_nmbr-i);

                var obj = document.getElementById(name);
                if(obj){
                  obj.parentNode.removeChild(obj);
                  hint_nmbr--;
                }
              }
            }
          }
        </script>
      </div>
    </div>
  </div>


{% endblock base_body %}
