{% extends "codegalaxy.html" %}

{% block base_body %}
  {% load staticfiles %}
  <head>
    <link rel="stylesheet" href="{% static "css/createExercise.css" %}">
  </head>

  <div class="row">
    <form method="post">

      {% csrf_token %}
      <div class="row">
        <div class="row">
          <div class="text-center">
            <h3>
              {% if edit %}
                Edit exercise
              {% else %}
                Create exercise
              {% endif %}
            </h3>
          </div>
        </div>


        <div class="row">
          <div class="large-4 large-centered columns">
            <div class="row collapse prefix-radius">
              <div class="small-4 columns">
                <span class="prefix">Exercise title</span>
              </div>
              <div class="small-8 columns">
                <input type="text" id="title" name="title"  class="text-center" value="{{ exercise.title }}">
              </div>
            </div>
          </div>
        </div>


        <div class="Diff">
          <div class="row">
            <div class="large-4 large-centered columns">
              <div class="row">
                <div class="small-10 medium-11 columns">
                  <div class="range-slider round" data-slider="{{ exercise.difficulty }}" data-options="display_selector: #difficulty; start: 1; end: 5;">
                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                    <span class="range-slider-active-segment"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="large-4 large-centered columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Difficulty</span>
                </div>
                <div class="small-9 columns">
                  <input type="text" id="difficulty" name="difficulty" readonly="True" class="text-center">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-5 large-centered columns">
            Question
            <textarea class="question_text" name="Question">{{ exercise.question }}</textarea>
          </div>
        </div>

        <div class="row">
          <div class="large-6 large-centered large-text-center columns">
            <label>Exercise Type:</label>
            <input type="radio" name="exercise_type" value="Code" id="exercise_type_code" checked><label for="exercise_type_code">Code question</label>
            <input type="radio" name="exercise_type" value="Multiple choice" id="exercise_type_open"><label for="exercise_type_open">Multiple choice</label>

          </div>
        </div>

        <div class="row">
          <div class="large-4 large-centered columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">Max score</span>
              </div>
              <div class="small-9 columns">
                <input type="text" id="max" name="max" readonly="True" class="text-center">
              </div>
            </div>
          </div>
        </div>
        <div class="max_score">
          <div class="row">
            <div class="large-4 large-centered columns">
              <div class="row">
                <div class="range-slider round" id="slider" data-slider data-options="display_selector: #max; start: 1; end: 10;" >
                  <span class="range-slider-handle" role="slider" tabindex="0"></span>
                  <span class="range-slider-active-segment"></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row" id="Code_Question">

          <div class="row">
            <div class="large-10 large-centered columns">
              <div data-alert class="alert-box info radius">
                Code the user gets to see. UITLEG UITLEG
              </div>
              <textarea id="code" name="code">{{ exercise.code }}</textarea>
              <script>
                var myCodeMirror = CodeMirror.fromTextArea(code,
                        {
                          lineNumbers: true,
                          {% if list.programming_language_string == "Python" %}
                            mode: "python",
                          {% elif list.programming_language_string == "C++" %}
                            mode: "text/x-c++src",
                          {% elif list.programming_language_string == "SQL" %}
                            mode: "sql",
                          {% endif %}
                          theme: "monokai"
                        });
              </script>

              <div data-alert class="alert-box info radius">
                Expected output. UITLEG UITLEG
              </div>
              <textarea id="output" name="output">{{ expected_code_answer }}</textarea>
              <script>
                var myCodeMirror = CodeMirror.fromTextArea(output,
                        {
                          lineNumbers: true,
                          {% if list.programming_language_string == "Python" %}
                            mode: "python",
                          {% elif list.programming_language_string == "C++" %}
                            mode: "text/x-c++src",
                          {% elif list.programming_language_string == "SQL" %}
                            mode: "sql",
                          {% endif %}
                          theme: "monokai"
                        });
              </script>

              <div class="row" id="Tips_Row">
                <h3>Tips:</h3>
                <div class="large-4 right columns">
                  <input type="button" class="button tiny radius" id="add_hint" value="Add Hint">
                </div>
                <div class="row">
                  <span id="Hints"></span>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="row" id="Open_Question" hidden="True">
          <div class="row">
            <div class="large-8 large-offset-2 columns">
              <div class="row">
                <u>Possible answers</u>
                <i class="fi-plus" id="add_answer"></i>
              </div>
              <div class="row" id="wrapper_answer">
                <div class="row collapse prefix-radius" id="answer1">
                  <div class="small-10 columns">
                    <input type="text" name="answer1" />
                  </div>
                  <div class="small-1 columns">
                    <span class="postfix"><input type="radio" name="correct_answer" value="1" checked /></span>
                  </div>
                  <div class="small-1 columns remove_answer" hidden></div>
                </div>
                <div class="row collapse prefix-radius" id="answer2">
                  <div class="small-10 columns">
                    <input type="text" name="answer2" />
                  </div>
                  <div class="small-1 columns">
                    <span class="postfix"><input type="radio" name="correct_answer" value="2" /></span>
                  </div>
                  <div class="small-1 columns remove_answer" hidden></div>
                </div>
              </div>
            </div>
            <br/>
          </div>

        </div>
        <div class="row">
          <div class="large-text-center">
            {% if edit %}
              <input type="submit" name="submit" class="button tiny radius" value="Edit exercise">
            {% else %}
              <input type="submit" name="submit" class="button tiny radius" value="Create exercise">
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Question template -->
  <div class="row collapse prefix-radius" id="question_template" hidden>
    <div class="small-10 columns">
      <input type="text" name="answer" />
    </div>
    <div class="small-1 columns">
      <span class="postfix"><input type="radio" name="correct_answer" /></span>
    </div>
    <div class="small-1 columns remove_answer">
      <span class="postfix fi-x" />
    </div>
  </div>
{% endblock base_body %}

{% block body_js %}
  <script>

    var answers = 2;
    $("#add_answer").click(function(e) {
      if(answers < 5) {
        $("#max").val(++answers);
        $("#wrapper_answer").append(
                // Add the question template to the answer wrapper but change its id and the name of the input element :3
                $("#question_template").clone().attr("id","answer"+answers).show()
        );
        reassignIDs();
      }
    });

    function reassignIDs() {
      var x = 0;
      $.each($("[id^='answer']"), function() {
        $(this).find("div.remove_answer").remove();
        if(answers > 2) {
          $(this).append(
                  $("<div/>", {"class":"small-1 columns remove_answer"}).append(
                          $("<span/>", {"class":"postfix fi-x"})
                  )
          );
        }
        else {
          $(this).append(
                  $("<div/>", {"class":"small-1 columns"})
          );
        }
        $(this).find("div > input[type='text']").attr("name", "answer"+x);
        $(this).find("div > input[type='radio']").attr("value", x.toString());
        x++;
      });
    }

    $("#wrapper_answer").on("click", ".remove_answer", function(e) {
      if(answers > 2 && $(this).parent().find("div>span>input:checked").length == 0) {
        $(this).parent().fadeOut("slow", function() {
          $(this).remove();
          $("#max").val(--answers);
          reassignIDs();
        })
      }
    });

    //This is the max of the exercise before we changed type
    var current_max = 5;
    $("input[type='radio'][name='exercise_type']").change(function() {

      $('#slider').toggleClass("disabled");
      if($("#exercise_type_code").is(":checked")) {
        $("#Code_Question").show();
        //Reset value to 5 when going from hidden to unhidden -> normally this breaks foundation slider
        //so we need to reset it

        $('#slider').foundation('slider', 'set_value', current_max);
        $("#Open_Question").hide();
      }
      else if($('#exercise_type_open').is(":checked")) {
        $("#Code_Question").hide();
        $("#Open_Question").show();
        current_max = $("#max").val();
        $('#slider').foundation('slider', 'set_value', answers);
      }
    });

    var hint_nmbr = 0;
    $("#add_hint").click(function() {
      if(hint_nmbr >= $("#max").val()){
        return;
      }

      $("#Hints").append(
        $("<div/>", {"class":"row","id":"row"+(hint_nmbr+1)}).append(
          $("<div/>", {"class":"large-5 large-centered columns"}).append(
            $("<input/>", {"type":"text","name":"hint"+(hint_nmbr+1),"placeholder":"Tip "+(hint_nmbr+1)})
          )
        )
      );

      ++hint_nmbr;
    });

    $("#slider").change(function() {
      var value = $(this).attr("data-slider"); //Value of slider;
      if((hint_nmbr - value) > 0) {
        for(i = 0; i < (hint_nmbr-value);++i) {
          $("#row"+(hint_nmbr-i)).remove();
          hint_nmbr--;
        }
      }
    });

    function removeHints(){
      var value = document.getElementById("max").value;
      if((hint_nmbr-value) > 0){
        var span = document.getElementById("Hints");
        for(i = 0; i < (hint_nmbr-value);++i){

          var name = "row"+ (hint_nmbr-i);

          var obj = document.getElementById(name);
          if(obj){
            obj.parentNode.removeChild(obj);
            hint_nmbr--;
          }
        }
      }
    }

    {% if edit %}
      $(document).ready(function(){
        {%  if exercise.exercise_type == "Open Question" %}
          $("#Open_Question").show();
          $('#exercise_type_open').prop('checked', true);
          //Get the correct number of answers

          var current_answers = {{ all_answers|length }};
          for(var i = 0; i < (current_answers - answers); ++i){
            $('#add_answer').trigger('click');
          }

          //Now lets fill these answers with the correct text!
          var all_answers = [];
          {% for a in all_answers %}
            all_answers.push("{{ a }}");
          {% endfor %}

          for(var i = 0 ; i < all_answers.length; ++i){
            $("input[name=" + '"answer' + i +"\"]").val(all_answers[i]);
            if((i+1) == {{ exercise.correct_answer }}){
              //If correct answer, select this answers
              var i_plus = i+1;
              $("input[value = i_plus][type='radio']").prop("checked", true);
            }
          }

          //set the right max score
          $('#slider').foundation('slider', 'set_value', {{ exercise.max_score }});

        {% else %}
          $("#Code_Question").show();
          $("#exercise_type_code").prop('checked', true);

          //Same for hints!

          var all_hints = [];
          {% for h in all_hints %}

            all_hints.push("{{ h }}");
          {% endfor %}
          var hints_length = {{ am_hints }};
          for(var i = 1 ; i <= hints_length; ++i){
            $("#add_hint").trigger('click');
            //replace all quotes & other html tags with the right characters.
            //source: http://stackoverflow.com/questions/5957546/javascript-regex-replacing-quot
            var text = all_hints[i-1].replace(/&(l|g|quo)t;/g, function(a,b){
              return {
                l   : '<',
                g   : '>',
                quo : '"'
              }[b];
            });

            $("input[name=" + '"hint' + i +"\"]").val(text);
          }
        {% endif %}

      });
    {% endif %}
  </script>
{% endblock body_js %}
