{% extends "codegalaxy.html" %}
{% load staticfiles %}
{% load custom_filters %}
{% block base_body %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "css/importExercise.css" %}" />
  </head>

  <form method="GET" id="search" name="search">
    <div class="row" id="search_panel">
      <div class="large-10 large-centered columns">
        <div class="panel callout radius info">
          {% csrf_token %}
          <input type="text" id="search_input" name="search_input" placeholder="List or exercise name">
        </div>
      </div>
    </div>
  </form>

  <div class="row" id="search_result">
    <div class="large-10 large-centered columns">
      <div class="panel callout radius info">
        <form method="POST" id="import_list">
          {% csrf_token %}
          <ul class="accordion" id="list_accordion" data-accordion>
            {% for list in all_lists %}
              <li class="accordion-navigation">
                <a href="#Exerc{{ list.id }}">{{ list.name }}</a>
                <div id="Exerc{{ list.id }}" class="content">
                  <div class="row">
                    <div class="large-centered columns">
                      {% if all_exercises|for_key:list.id %}
                        <input class="list_check"  id="list_copy{{ list.id }}"  type="checkbox"><label>Copy all list</label>
                        <input class="list_check"  id="list_import{{ list.id }}" type="checkbox"><label>Import all list</label>

                        <table>
                        <thead>
                        <tr>
                          <th width="200">Title</th>
                          <th width="150">copy original</th>
                          <th width="150">reference</th>
                        </tr>
                        </thead>
                        {% for e in all_exercises|for_key:list.id %}
                          <tbody>
                          <td><p id="name_{{ list.id }}_{{ e.exercise_number }}">{{ e.title }}</p>
                            {% if e.isReference %}
                              <br/>
                              <a href="/l/{{e.isReferenceTo.0}}">Original</a>[{{e.isReferenceTo.1}}]
                            {% endif %}
                          </td>
                          <td><input class="import_check" id="checkbox_copy_{{ list.id }}_{{ e.exercise_number }}" name="checkbox_copy/{{ list.id }}/{{ e.exercise_number }}" type="checkbox"></td>
                          <td><input class="import_check" id="checkbox_import_{{ list.id }}_{{ e.exercise_number }}" name="checkbox_import/{{ list.id }}/{{ e.exercise_number }}" type="checkbox"></td>
                          </tbody>
                        {% endfor %}
                      {% else %}
                        This list does not contain any exercises.
                      {% endif %}
                      </table>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
          <br/>
          <div class="row">
            <div class="large-text-center columns">
              <a href="/l/{{ list_id }}" class="button small radius">Return</a>
              <button class="button small radius" id="import_modal" name="import_modal">Import</button>
            </div>
          </div>
        </form>
      
        <div id="import_confirm_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <h2 id="modalTitle">Confirmation</h2>

          <div class="row">
            <div class="large-4 large-centered large-text-center columns import_confirm_list">
            </div>
          </div>

          <div class="row">
            <div class="large-centered large-text-center columns">
              <button class="alert small radius" id="cancel_button">Cancel</button>
              <button class="success small radius" id="import_button">Import!</button>
            </div>
          </div>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

      </div>
    </div>
  </div>

{% endblock base_body %}
{% block body_js %}
  <script>

    $(".import_check").click(function(event){
      var id = this.id;
      if(id.indexOf('checkbox_copy') >= 0){
        var stripped = id.replace('checkbox_copy', '');
        $("#checkbox_import" + stripped).prop('checked', false);
      }else{
        var stripped = id.replace('checkbox_import', '');
        $("#checkbox_copy" + stripped).prop('checked', false);
      }
    });


    $(".list_check").click(function(){
      var siblings = this.parentNode.childNodes;
      var execute = this.id;
      if(execute.indexOf('list_copy') >= 0){
        var list_id = execute.replace('list_copy','');
        $('#list_import'+list_id).prop('checked', false);
        $(siblings).find("input[id^='checkbox_copy']").each(function(){
          $(this).trigger('click');
        });
      }else{
        var list_id = execute.replace('list_import','');
        $('#list_copy'+list_id).prop('checked', false);
        $(siblings).find("input[id^='checkbox_import']").each(function(){
          $(this).trigger('click');
        });
      }
    });

    $(".accordion-navigation").click(function(event){
      //Only call the animation when we click on the link
      if($(event.target).is('a')){
        $(this).find(".content").slideToggle("slow");
      }
    });


    $("#search_input").on('input', function(e){
      e.preventDefault();
      var form = $("#search");
      var post_data = form.serialize();
      $.ajax({
        type: 'GET',
        url: "",
        data: post_data,
        dataType: "text",

        success: function(response) {
          $("#list_accordion").empty();
          $("#list_accordion").append(response);
        }
      });
    });

    function filterName(name){
      var newName = name.replace(/ /g, "_").replace(/./g, '');
      return newName;
    }

    function addList(list, listName){
      $('.import_confirm_list').append('<h3><u>' + listName).append('<div>').append('<ul class= "' + listName + '">');
      $.each(list, function(key, value){
        var div = document.createElement('div');

        var parent = document.createElement("u");
        $(parent).html(key);
        div.appendChild(parent);
        for(var i = 0; i < value.length; ++i){
          var node = document.createElement('li');
          $(node).html(value[i]);
          div.appendChild(node);
        };
        $('.' + listName).append(div);
      });
    }

    $('#import_modal').click(function(){
      var checked = 0;
      $('.import_confirm_list').empty();
      var imp = {};
      var copy = {};

      $('.import_check').each(function(index){
        if($(this).prop('checked')){
          checked++;
          var id = this.id;
          var stripped;
          var text;
          if(id.indexOf('checkbox_copy') >= 0){
            stripped = id.replace('checkbox_copy', '');
            var list_id = stripped.split('_')[1];
            var name = $('#name' + stripped).parents().find('a[href="#Exerc' + list_id+ '"]').text();
            text =  $('#name' + stripped).text();
            if (!copy[name]) {
              copy[name] = [];
            }
            copy[name].push(text);

          }else{
            stripped = id.replace('checkbox_import', '');
            var list_id = stripped.split('_')[1];
            var name = $('#name' + stripped).parents().find('a[href="#Exerc' + list_id+ '"]').text();
            text =  $('#name' + stripped).text();
            if (!imp[name]) {
              imp[name] = [];
            }
            imp[name].push(text);

          }

        }

      });

      if(checked > 0) {
        if (Object.keys(imp).length > 0) {
          addList(imp, "Import");
        }

        if (Object.keys(copy).length > 0) {
          addList(copy, "Copy");
        }

        $('#import_confirm_modal').foundation('reveal', 'open', '');
      }
    });

    $("#import_button").click(function(){

      $("#import_list").form.submit();
      $("#import_list").form.reset();
    });



  </script>
{% endblock %}
