{% extends "codegalaxy.html" %}

{% block base_body  %}

  <div class="row">
    <div class="panel">
      <div class="row">
        <div class ="row">
          <div class="large-10 large-centered columns">
            <ul class="pricing-table">
              <li class="title">Lists</li>
              <div class="row">
                <ul class="accordion" data-accordion>
                  {% for list in all_lists %}
                    <li class="accordion-navigation">
                      <a href="#Exerc{{ list.id }}">{{ list.name }}</a>
                      <div id="Exerc{{ list.id }}" class="content">
                        <div class="row">
                          <a href="{{ list.id }}" class="button tiny radius">Open list</a>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
                <li class="price"></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}