{% extends "codegalaxy.html" %}
{% load staticfiles %}
{% block base_body %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "custom_css/list.css" %}" />
  </head>

  <div class="row">
    <div class="large-12 columns">
      <div class="text-center">
        <div class="row">
          <h2>{{ list_name }}</h2>
        </div>
        <div class="row">
          <div class="large-6 large-centered text-center columns">
            <i>{{ list_description }}</i>
          </div>
        </div>

        {% if all_exercises|length > 0 %}
          <div class="row">
            <div class="large-6 large-centered text-center columns">
              <br/>
              <img id="Icon" src="{% static "media/python.png" %}">
            </div>
            <br/>
            <button class="small button Start" id="{{ cur_exercise }}">
              {% if found %}
                Continue
              {% else %}
                Start
              {% endif %}
            </button>
          </div>
        {% endif %}

        <div class ="row">
          <div class="large-4 large-centered columns">
            <div class="panel callout radius">
              <img id="subjects" src="{% static "media/subjects.png" %}">
              <div class="text-center">
                {% for subject in subjects %}
                  <span class="success label">{{ subject }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class ="row">
        <div class="large-7 large-centered text-center columns">
          <div class="panel callout radius info">
            <div class="progress small success round">
              <span class="meter" style="width: {{ percent }}%"></span>
              {{ percent }}% solved
            </div>
          </div>
        </div>
      </div>


      <div class ="row">
        <div class="large-7 large-centered text-center columns">
          <div class="panel callout radius info">

            <ul class="large-block-grid-3">
              <li>
                <h3>{{ avg_score }}</h3>
                <br/>
                Average Score
              </li>

              <li>
                <h3>{{ avg_rating }}</h3>
                <br/>
                Average rating
              </li>
              <li>
                <h3>{{ number_of_users }}</h3>
                <br/>
                Users that finished list
              </li>
            </ul>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="large-2 right columns">
          {% if correct_user %}
            <a href="/l/{{ id }}/createExercise" class="button tiny radius">Create exercise</a>
          {% endif %}
        </div>
        <div class="large-2 left columns">
          {% if correct_user %}
            <a href="#" data-reveal-id="Subject_Modal" class="button tiny radius">Edit list</a>

            <div id="Subject_Modal" class="reveal-modal" data-reveal>
              <h2>List editor</h2>
              <form method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="large-4 large-centered columns">
                    <div class="row collapse prefix-radius">
                      <div class="small-3 columns">
                        <span class="prefix">List name</span>
                      </div>
                      <div class="small-9 columns">
                        <input type="text" id="list_name" name="updated_list_name" class="text-center" value="{{ list_name }}">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="large-4 large-centered columns">

                  <textarea placeholder="Enter description of exercise list" name="updated_description_text">{{ list_description }}</textarea>

                  <div class="row">
                    <div class="small-10 medium-11 columns">
                      <div class="range-slider round" data-slider data-options="display_selector: #difficulty; start: 1; end: 5;">
                        <span class="range-slider-handle" role="slider" tabindex="0"></span>
                        <span class="range-slider-active-segment"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="large-4 large-centered columns">
                    <div class="row collapse prefix-radius">
                      <div class="small-3 columns">
                        <span class="prefix">Difficulty</span>
                      </div>
                      <div class="small-9 columns">
                        <input type="text" id="difficulty" name="updated_difficulty" readonly="True" class="text-center">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="large-4 large-centered columns">
                    <label>Programming language</label>
                    <select name="prog_lang">
                      {% for lang in programming_languages %}
                        {% if lang.name == current_prog_lang %}
                          <option value="{{ lang.name }}" selected>{{ lang.name }}</option>
                        {% else %}
                          <option value="{{ lang.name }}">{{ lang.name }}</option>
                        {% endif %}

                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="large-4 large-centered columns">
                  <fieldset>
                    <legend>Subjects</legend>
                    <div class="row" id="subjects">
                      {% for subject in subjects %}
                        <span class="success label" id="{{ subject }}" onclick="javascript:removeSubject(this)">{{ subject }}</span>
                        <input type="hidden" id="{{ subject }}_text" name="subject{{ forloop.counter0 }}" hidden="True" class="text-center" value="{{ subject }}">
                      {% endfor %}
                    </div>
                  </fieldset>
                  <h6>click on a subject to delete it</h6>
                  <div class="row collapse prefix-radius">
                    <div class="small-4 columns">
                      <span class="prefix">New subject</span>
                    </div>
                    <div class="small-6 columns">
                      <input type="text" id="subject" name="subject" class="text-center">

                    </div>
                    <div class="small-2  columns">
                      <span class="postfix" id="add-subject"><i class="fi-plus"></i></span>
                    </div>
                  </div>
                </div>


                <div class ="row">
                  <div class="large-10 large-centered columns">
                    <ul class="pricing-table" id="drag_drop" ondrop="javascript:drop(event)" ondragover="javascript:allowDrop(event)">
                      <li class="title">Exercises</li>
                      <div class="row">
                        <ul class="accordion" data-accordion>
                          {% for exercise in all_exercises %}
                            <li class="accordion-navigation" draggable="true" ondragstart="javascript:startdrag(event)">
                              <a href="#Exerc{{ exercise.id }}"> {{ exercise.title }}</a>
                              <div id="Exerc{{ exercise.id }}" class="content">
                                <div class="row">
                                  <a href="#" class="button tiny radius">Edit exercise</a>
                                </div>
                              </div>
                            </li>
                          {% endfor %}
                        </ul>
                        <li class="price"></li>
                      </div>
                    </ul>
                  </div>
                </div>

                <input type="submit" class="secondary button tiny radius" value="Edit">
                <a class="close-reveal-modal">&#215;</a>
                <input type="hidden" id="current_subjects" name="current_subjects" value="{{ subjects|length }}">
              </form>
            </div>
          {% endif %}
        </div>
      </div>

      <div class ="row">
        <div class="large-3 large-centered large-text-center columns">
          Exercises
          <div class="row">
            {% for exercise in all_exercises %}
              <div class="panel radius callout exercise" id="Exercise{{ exercise.id }}">
                {{ exercise.title }}
                {% if exercise.solved %}
                  <div class="label success left"><i class="fi-checkbox"></i></div>
                {% endif %}
                <img id="Arrow" src="{% static "media/arrow.png" %}">
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock base_body %}

{% block body_js %}
  <script>

    var subjects = {{ subjects|length }};

    $(document).ready(function(){
      $("#add-subject").click(function(){
        var label = document.createElement("span");
        label.setAttribute("class", "success label");
        label.innerHTML = document.getElementById("subject").value;
        label.setAttribute("id", "subject"+subjects);
        label.onclick = function(){
          $( '#' + label.id ).fadeOut( "slow", function() {
            // Animation complete.
            var elem = document.getElementById(label.id);
            elem.parentNode.removeChild(elem);
            var text = document.getElementById(label.id +"_text");
            text.parentNode.removeChild(text);
          });
        };

        var input = document.createElement("input");
        input.setAttribute("class", "text");
        input.setAttribute("hidden", "True");
        input.setAttribute("id", "subject"+subjects+"_text");
        input.value = document.getElementById("subject").value;
        input.setAttribute("name", "subject"+subjects);
        document.getElementById("subject").value = "";
        subjects++;

        document.getElementById("current_subjects").value = subjects;
        document.getElementById("subjects").appendChild(label);
        document.getElementById("subjects").appendChild(input);
        //$(document).foundation();
        //$(document).foundation('span', 'reflow');

      });
    });

    function removeSubject(obj){

      $( '#' + obj.id ).fadeOut( "slow", function() {
        // Animation complete.
        obj.parentNode.removeChild(obj);
        var text = document.getElementById(obj.id + "_text" );
        text.parentNode.removeChild(text);

      });
    }

    $(".exercise").click(function(){
      var id = (this.id).replace("Exercise","");
      window.location += id;
    });


    function allowDrop(event) {
      ev.preventDefault();
    }

    function startdrag(event) {
      event.dataTransfer.setData("text", event.target.id);
    }

    function drop(event) {
      event.preventDefault();
      var data = event.dataTransfer.getData("text");
      event.target.appendChild(document.getElementById(data));
    }

    $(".Start").click(function(){
      var id = this.id;
      window.location += id;
    });


  </script>
{% endblock %}
