{% extends "codegalaxy.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_js %}
  <script src="{% static "Chart.min.js" %}"></script>
{% endblock head_js %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "css/list.css" %}" />
{% endblock page_css %}

{% block base_body %}
  <div class="row">
    <div class="large-12 columns">
      <div class="text-center">
        <div class="row">
          <h2>{{ list.name }}</h2>
        </div>
        <div class="row">
          <div class="large-6 large-centered text-center columns">
            <i>{{ list.description }}</i>
          </div>
        </div>

        <div class="row">
          <div class="large-6 large-centered text-center columns">
            <br/>
            {% if list.programming_language.name == "Python" %}
              <img class="Icon" src="{% static "media/icons/python.png" %}">
            {% elif list.programming_language.name == "C++" %}
              <img class="Icon" src="{% static "media/icons/C++.png" %}">
            {% elif list.programming_language.name == "SQL" %}
              <img class="Icon" src="{% static "media/icons/sql.png" %}">
            {% endif %}
          </div>
          <br/>
          {% if all_exercises|length > 0 %}
            {% if list_owner %}
              <button class="small button Start" id="{{ cur_exercise }}">
                Review
              </button>
            {% elif not list_owner %}
              <button class="small button Start" id="{{ cur_exercise }}">
                {% if found %}
                  Continue
                {% else %}
                  Start
                {% endif %}
              </button>
            {% endif %}
          {% endif %}
        </div>

        <div class ="row">
          <div class="large-4 large-centered columns">
            <div class="panel callout radius">
              <img id="subjects" src="{% static "media/icons/subjects.png" %}">
              <div class="text-center">
                {% for subject in subjects %}
                  <span class="success label">{{ subject }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if solved_all %}
        <div class="row">
          <div class="large-4 columns large-centered large-text-center">
            <div class="panel callout radius info">
              {% trans "Rating:" %}<br/>
              <form id="Rating" method="POST">
                <div class="rating">
                  <div id="raty"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endif %}

      <div class ="row">
        <div class="large-7 large-centered text-center columns">
          <div class="panel callout radius info">
            <div class="progress small success round">
              <span class="meter" style="width: {{ percent }}%"></span>
              {{ percent }}% {% trans "solved" %}
            </div>
          </div>
        </div>
      </div>

      {% if solved_all %}
      <div class ="row">
        <div class="large-7 large-centered text-center columns">
          <div class="panel callout radius info">
            <ul class="large-block-grid-2">
              <li>
                {% trans "Your score" %}
                <br/>
                <h4>{{ user_score }}%</h4>
                <form method="post" id="share_result">
                {% csrf_token %}
                  <input type="submit" value="{% trans "Share my result" %}" name="share_result" class="button tiny radius"/>
                </form>
              </li>
              <li>
                {% trans "Completed on" %}
                <br/>
                <h4>{{user_date}}</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

      <div class ="row">
        <div class="large-7 large-centered text-center columns">
          <div class="panel callout radius info ">
            <ul class="large-block-grid-3">
              <li>
                <h4>{{ avg_score }}</h4>
                {% trans "Average Score" %}
              </li>
              <li>
                <h4>{{ avg_rating }}</h4>
                {% trans "Average rating" %}
              </li>
              <li>
                <h4>{{ number_of_users }}</h4>
                {% trans "Users that finished list" %}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--
      <div class ="row">
        <div class="large-7 large-centered text-center columns">
          <h2>Score Spread</h2>
          <br/>
          {{ score_spread |safe }}
        </div>
      </div>
      -->

      <div class ="row">
        <div class="large-7 large-centered text-center columns">
          <div class="panel callout radius info">
            <ul class="large-block-grid-2">
              <li>
                {% trans "Made By" %}
                <br/>
                <h4>{{ creator }}</h4>
              </li>
              <li>
                {% trans "Made On" %}
                <br/>
                <h4>{{ created_on }}</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="large-2 right columns">
          {% if list_owner %}
            <ul class="large-block-grid-3">
              <li><a href="/l/{{ list.id }}/importExercise" class="button tiny radius">{% trans "Import exercise" %}</a></li>
              <li></li>
              <li><a href="/l/{{ list.id }}/createExercise" class="button tiny radius">{% trans "Create exercise" %}</a></li>
            </ul>
          {% elif not list_owner %}
            <a href="#" class="tiny button radius" data-reveal-id="import">{% trans "Add exercises to my list" %}</a>
            <form method="POST" id="import_list">
              {% csrf_token %}
              <div id="import" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                <h2 id="modalTitle">{% trans "Import exercise" %}</h2>
                <div class="row">
                  <div class="large-centered large-text-center columns">
                    {% if all_exercises %}
                      <input class="list_check"  id="list_copy"  type="checkbox"><label>{% trans "Copy all list" %}</label>
                      <input class="list_check"  id="list_import" type="checkbox"><label>{% trans "Import all list" %}</label>

                      <table>
                      <thead>
                      <tr>
                        <th width="200">{% trans "Title" %}</th>
                        <th width="150">{% trans "copy original" %}</th>
                        <th width="150">{% trans "reference" %}</th>
                      </tr>
                      </thead>
                      {% for e in all_exercises %}
                        <tbody>
                        <td><p id="name{{ e.exercise_number }}">{{ e.0.title }}</p>
                          {% if e.0.isReference %}
                            <br/>
                            <a href="/l/{{e.isReferenceTo.0}}">{% trans "Original" %}</a>[{{e.0.isReferenceTo.1}}]
                          {% endif %}
                        </td>
                        <td><input class="import_check" id="checkbox_copy{{ e.exercise_number }}" name="checkbox_copy{{ e.exercise_number }}" type="checkbox"></td>
                        <td><input class="import_check" id="checkbox_import{{ e.exercise_number }}" name="checkbox_import{{ e.exercise_number }}" type="checkbox"></td>
                        </tbody>
                      {% endfor %}
                    {% else %}
                      {% trans "This list does not contain any exercises." %}
                    {% endif %}
                    </table>
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div class="large-text-center columns">
                    <button class="button small radius" id="import_confirm">{% trans "Import" %}</button>
                  </div>
                </div>
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
              </div>

              <div id="import_confirm_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                <h2 id="modalTitle">{% trans "Confirmation" %}</h2>

                <div class="row">
                  <div class="large-2 large-centered large-text-center columns import_confirm_list">
                  </div>
                </div>

                <div class="row">
                  <div class="large-3 large-centered large-text-center columns">
                    <fieldset>
                      <legend>{% trans "Import into:" %}</legend>
                      {% for l in user_lists %}
                        <input class="mylists" type="checkbox" name="mylist_{{ l.id }}" id="mylist_{{ l.id }}">
                        <label for="mylist_{{ l.id }}">{{ l.name }}</label>
                      {% endfor %}
                    </fieldset>

                  </div>
                </div>
            </form>
            <div class="row">
              <div class="large-centered large-text-center columns">
                <button class="alert small radius" id="cancel_button">{% trans "Cancel" %}</button>
                <button class="success small radius" id="import_button">{% trans "Import!" %}</button>
              </div>
            </div>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>
          {% endif %}
      </div>
      <div class="large-2 left columns">
        {% if list_owner %}
          <a type="button" class="button tiny radius" href="/l/{{ list.id }}/editList">{% trans "Edit list" %}</a>
        {% endif %}
      </div>
    </div>

    <div class ="row">
      <div class="large-3 large-centered large-text-center columns">
        {% trans "Exercises" %}
        <div class="row">
          {% for exercise in all_exercises %}
            <div class="panel radius callout exercise" id="Exercise{{ exercise.0.exercise_number }}">
                {{ exercise.0.title }}
                {% if exercise.0.solved %}
                  <div class="label success left"><pre> {{ exercise.1 }}/{{ exercise.0.max_score }} </pre><i class="fi-checkbox"></i></div>
                {% endif %}
                <img class="Arrow" src="{% static "media/arrow.png" %}">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% if similar_lists|length > 0 %}
      <div class ="row">
        <div class="large-7 large-centered text-center columns">
          <div class="panel callout radius info">
            <h3>{% trans "ExerciseLists like this one:" %}</h3>
            <ul class="large-block-grid-{{similar_lists|length}}">
              {% for similar_list in similar_lists %}
                <li>
                  <a href="../{{ similar_list.id }}">{{similar_list.name}}</a><br/><br/>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
  </div>
{% endblock base_body %}

{% block body_js %}
  <script src="{% static "raty/jquery.raty.js" %}"></script>
  <script>

    $('img').on('dragstart', function(event) { event.preventDefault(); });

    $(document).ready(function() {

      //Start button
      $(".Start").click(function(){
        var id = this.id;
        window.location += id;
      });

      $.fn.raty.defaults.path = "{{ STATIC_URL }}img";
      $('#raty').raty({
        score : {{ user_rating }},
        click: function(score){
          //AJAX -> post to server that the user rated

          $(function(){
            $.ajax({
              type: 'POST',
              url: "",
              data: {"rating" : score},

              success: function(response) {
              },

              error: function(xhr, textStatus, errorThrown){
              }
            });
          });

        }
      });
    });

    //Exercise button
    $(".exercise").click(function(){
      var number = (this.id).replace("Exercise","");
      window.location += number;
    });

    //Import stuff
    $(".import_check").click(function(event){
      var id = this.id;
      if(id.indexOf('checkbox_copy') >= 0){
        var stripped = id.replace('checkbox_copy', '');
        $("#checkbox_import" + stripped).prop('checked', false);
      }else{
        var stripped = id.replace('checkbox_import', '');
        $("#checkbox_copy" + stripped).prop('checked', false);
      }
    });

    $(".list_check").click(function(){
      var siblings = this.parentNode.childNodes;
      var execute = this.id;
      if(execute.indexOf('list_copy') >= 0){
        var list_id = execute.replace('list_copy','');
        $('#list_import'+list_id).prop('checked', false);
        $(siblings).find("input[id^='checkbox_copy']").each(function(){
          $(this).trigger('click');
        });
      }else{
        var list_id = execute.replace('list_import','');
        $('#list_copy'+list_id).prop('checked', false);
        $(siblings).find("input[id^='checkbox_import']").each(function(){
          $(this).trigger('click');
        });
      }
    });

    function addList(list, listName){
      $('.import_confirm_list').append('<h3><u>' + listName).append('<div>').append('<ul class= "' + listName + '">');
      $(list).each(function(){
        $('.' + listName).append('<li>'+ this);
      });
    }

    $('#import_confirm').click(function(){
      var checked = 0;
      $('.import_confirm_list').empty();
      var imp = [];
      var copy = [];

      $('.import_check').each(function(index){
        if($(this).prop('checked')){
          checked++;
          var id = this.id;
          var stripped;
          if(id.indexOf('checkbox_copy') >= 0){
            stripped = id.replace('checkbox_copy', '');
            copy.push($('#name' + stripped).text());
          }else{
            stripped = id.replace('checkbox_import', '');
            imp.push($('#name' + stripped).text());
          }
        }

      });
      if(checked > 0){
        if(imp.length > 0){
          addList(imp, '{% trans "Import" %}');
        }

        if(copy.length > 0){
          addList(copy, '{% trans "Copy" %}');
        }

        $('#import_confirm_modal').foundation('reveal', 'open', '');
      }else{
        alert('You need to import atleast one exercise to continue!');
      }
    });

    //close the window
    $('#cancel_button').click(function(){
      $('#import_confirm_modal').foundation('reveal', 'close', '');
    });

    $('#import_button').click(function(e){
      e.preventDefault();
      var form = $("#import_list");
      //For some weird reason, need to add mylists to the form again
      //Else it doesn't register

      var post_data = form.serialize() + '&' + $('.mylists').serialize();

      $.ajax({
        type: 'POST',
        url: "",
        data: post_data,
        dataType: "text",

        success: function(response) {
          $('#import_confirm_modal').foundation('reveal', 'close', '');
          $('#import_list')[0].reset();
        }

      });
    });

  </script>
{% endblock %}
