{% extends "codegalaxy.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "css/list.css" %}" />
{% endblock page_css %}

{% block base_body %}
  <div id="fb-root"></div>
  <script>

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '420881628093367',
        xfbml      : true,
        version    : 'v2.3'
      });

    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


  </script>

  <div class="row">
    <div class="large-12 columns">
      <div class="row text-center">
        <h1>{{ list.name }}</h1>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns text-justify">
          <i><span class="mega-octicon octicon-quote secondary"></span> {{ list.description }} <span class="mega-octicon octicon-quote secondary"></span></i>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="large-8 large-centered text-center columns">
          {% if list.programming_language.name == "Python" %}
            <img class="icon" src="{% static "media/icons/python.png" %}">
          {% elif list.programming_language.name == "C++" %}
            <img class="icon" src="{% static "media/icons/C++.png" %}">
          {% elif list.programming_language.name == "SQL" %}
            <img class="icon" src="{% static "media/icons/sql.png" %}">
          {% endif %}
        </div>
        <div class="large-8 large-centered text-center columns">
          {% for subject in subjects %}
            <span class="label round">{{ subject }}</span>
          {% endfor %}
        </div>
      </div>
      <br />
      <br />
      {% if user and not solved_all and all_exercises|length > 0 %}
        {% if not list_owner and found %}
          <div class="large-8 large-centered text-center columns">
            <div data-alert class="alert-box info radius">
              <p>It seems like you have been on this planet before.</p>
              <button class="tiny button round start" id="{{ cur_exercise }}">Continue exploring! <span class="octicon octicon-rocket"></span></button>
              <a href="#" class="close"><span class="octicon-x octicon"></span></a>
            </div>
          </div>
        {% endif %}
      {% endif %}

      <div class="row">
        <div class="large-9 large-centered text-center columns exercise-wrapper">
          <h3>{% trans "Exercises" %}</h3>
          <div class="row">
            <div class="large-10 large-centered text-center columns">
              <div class="progress small success round">
                <span class="meter" style="width: {{ percent }}%"></span>
              </div>
              <b>{{ percent }}%</b> {% trans "solved" %}
            </div>
          </div>
          <br />
          <div class="large-9 large-centered text-center columns">
            <div class="row">
              {% for exercise in all_exercises %}
                {% if exercise.0.solved %}
                  <div class="panel radius exercise success-border" id="Exercise{{ exercise.0.exercise_number }}">
                    {{ exercise.0.title }}
                    <div class="left"><span class="octicon octicon-check success-text"></span> {{ exercise.1 }}/{{ exercise.0.max_score }}</div>
                    <img class="Arrow" src="{% static "media/arrow.png" %}">
                  </div>
                {% else %}
                  <div class="panel radius exercise" id="Exercise{{ exercise.0.exercise_number }}">
                    {{ exercise.0.title }}
                    <img class="Arrow" src="{% static "media/arrow.png" %}">
                  </div>
                {% endif %}
              {% endfor %}
              <br>
              <button class="share">Share</button>
            </div>
          </div>
        </div>
      </div>

      <br />

      {% if not list_owner %}
        <div class="row">
          <div class="large-9 columns large-centered large-text-center">
            {% if solved_all %}
              <!-- <div class="panel radius info"> -->
              <ul class="large-block-grid-3">
                <li>
                  {% trans "Your score" %}
                  <br/>
                  <h4>{{ user_score }}%</h4>
                  {% if shared_result %}
                    <form method="post" id="share_result">
                      {% csrf_token %}
                      <button type="submit" name="share_result" class="button tiny radius">{% trans "Share my result" %} <span class="octicon octicon-rss"></span></button>
                    </form>
                  {% endif %}
                </li>
                <li>
                  {% trans "Rating:" %}
                  <br />
                  <form id="Rating" method="POST">
                    <div class="rating">
                      <div id="raty"></div>
                    </div>
                  </form>
                </li>
                <li>
                  {% trans "Completed on" %}
                  <br/>
                  <h4>{{user_date}}</h4>
                </li>
              </ul>
              <!-- </div> -->
            {% else %}
              {% trans "Make all exercises of this list to give it a rating!" %}
            {% endif %}
          </div>
        </div>
      {% endif %}

      <br />
      <!--
      <div class ="row">
        <div class="large-7 large-centered text-center columns">
          <h2>Score Spread</h2>
          <br/>
          {{ score_spread |safe }}
        </div>
      </div>
      -->

      <div class ="row">
        <div class="large-9 large-centered columns">
          <div class="panel radius info text-center">
            <ul class="large-block-grid-2">
              <li>
                {% trans "Made by" %}
                <br/>
                <a href="/u/{{ creator.id }}"><h4>{{ creator.name }}</h4></a>
              </li>
              <li>
                {% trans "Made on" %}
                <br/>
                <h4>{{ created_on }}</h4>
              </li>
            </ul>
            <hr />
            <ul class="large-block-grid-3">
              <li>
                <h4>{{ avg_score }}</h4>
                {% trans "Average score" %}
              </li>
              <li>
                <h4 id="average_rating_score">{{ avg_rating }}</h4>
                {% trans "Average rating" %}
              </li>
              <li>
                <h4>{{ number_of_users }}</h4>
                {% trans "Users that finished list" %}
              </li>
            </ul>
            {% if similar_lists|length > 0 %}
              <hr/>
              <p id="sim_ex_list_title">{% trans "ExerciseLists like this one:" %}</p>
              <ul class="large-block-grid-{{similar_lists|length}}">
                {% for similar_list in similar_lists %}
                  <li>
                    <a class="ex_list_link" href="../{{ similar_list.id }}">{{similar_list.name}}</a>
                    <br/>
                    <br/>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="large-2 right columns">
          {% if list_owner %}
            <ul class="large-block-grid-3">
              <li><a href="/l/{{ list.id }}/importExercise" class="button tiny radius">{% trans "Import exercise" %}</a></li>
              <li></li>
              <li><a href="/l/{{ list.id }}/createExercise" class="button tiny radius">{% trans "Create exercise" %}</a></li>
            </ul>
          {% elif not list_owner %}
            {% if logged_in %}
              <a href="#" class="tiny button radius" data-reveal-id="import">{% trans "Add exercises to my list" %}</a>
              <form method="POST" id="import_list">
                {% csrf_token %}
                <div id="import" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                  <h2 id="modalTitle">{% trans "Import exercise" %}</h2>
                  <div class="row">
                    <div class="large-centered large-text-center columns">
                      {% if all_exercises %}
                        <input class="list_check"  id="list_copy"  type="checkbox"><label>{% trans "Copy all list" %}</label>
                        <input class="list_check"  id="list_import" type="checkbox"><label>{% trans "Import all list" %}</label>

                        <table>
                        <thead>
                        <tr>
                          <th width="200">{% trans "Title" %}</th>
                          <th width="150">{% trans "copy original" %}</th>
                          <th width="150">{% trans "reference" %}</th>
                        </tr>
                        </thead>
                        {% for e in all_exercises %}
                          <tbody>
                          <td><p id="name{{ e.0.exercise_number }}">{{ e.0.title }}</p>
                            {% if e.0.isReference %}
                              <br/>
                              <a href="/l/{{e.isReferenceTo.0}}">{% trans "Original" %}</a>[{{e.0.isReferenceTo.1}}]
                            {% endif %}
                          </td>
                          <td><input class="import_check" id="checkbox_copy{{ e.0.exercise_number }}" name="checkbox_copy{{ e.0.exercise_number }}" type="checkbox"></td>
                          <td><input class="import_check" id="checkbox_import{{ e.0.exercise_number }}" name="checkbox_import{{ e.0.exercise_number }}" type="checkbox"></td>
                          </tbody>
                        {% endfor %}
                      {% else %}
                        {% trans "This list does not contain any exercises." %}
                      {% endif %}
                      </table>
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="large-text-center columns">
                      <button class="button small radius" id="import_confirm">{% trans "Import" %}</button>
                    </div>
                  </div>
                  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                </div>

                <div id="import_confirm_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                  <h2 id="modalTitle">{% trans "Confirmation" %}</h2>

                  <div class="row">
                    <div class="large-2 large-centered large-text-center columns import_confirm_list">
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-3 large-centered large-text-center columns">
                      <fieldset>
                        <legend>{% trans "Import into:" %}</legend>
                        {% for l in user_lists %}
                          <input class="mylists" type="checkbox" name="mylist_{{ l.id }}" id="mylist_{{ l.id }}">
                          <label for="mylist_{{ l.id }}">{{ l.name }}</label>
                        {% endfor %}
                      </fieldset>

                    </div>
                  </div>
              </form>
              <div class="row">
                <div class="large-centered large-text-center columns">
                  <button class="alert small radius" id="cancel_button">{% trans "Cancel" %}</button>
                  <button class="success small radius" id="import_button">{% trans "Import!" %}</button>
                </div>
              </div>
              <a class="close-reveal-modal" aria-label="Close">&#215;</a>
              </div>
            {% endif %}
          {% endif %}
      </div>
      <div class="large-2 left columns">
        {% if list_owner %}
          <a type="button" class="button tiny radius" href="/l/{{ list.id }}/editList">{% trans "Edit list" %}</a>
        {% endif %}
      </div>
    </div>


  </div>
  </div>
{% endblock base_body %}

{% block body_js %}
  <script src="{% static "raty/jquery.raty.js" %}"></script>
  <script>

      $('.share').click(function(){

        var message = "Check out {{ list.name }} on Codegalaxy!";
        {% if solved_all %}
          message += "\nMy score is: {{ user_score }}% on this list! Can you do better?";
        {% endif %}
        FB.ui({
          method: 'feed',
          picture: 'http://s21.postimg.org/cuniuxbg7/CGsmall_Blue.png',
          caption: "Codegalaxy",
          name: "Codegalaxy",
          link: "http://localhost:8000/l/{{ list.id }}",
          description: message
        }, function(response){});

      });

    $(document).ready(function() {
      //Start button
      $(".start").click(function(){
        var id = this.id;
        window.location += id;
      });

      $.fn.raty.defaults.path = "{{ STATIC_URL }}img";
      $('#raty').raty({
        score : {{ user_rating }},
        click: function(score){
          //AJAX -> post to server that the user rated

          $(function(){
            $.ajax({
              type: 'POST',
              url: "",
              data: {"rating" : score},

              success: function(response) {
                $('#average_rating_score').text(response);
              },

              error: function(xhr, textStatus, errorThrown){
              }
            });
          });

        }
      });
    });

    //Exercise button
    $(".exercise").click(function(){
      var number = (this.id).replace("Exercise","");
      window.location += number;
    });

    //Import stuff
    $(".import_check").click(function(event){
      var id = this.id;
      if(id.indexOf('checkbox_copy') >= 0){
        var stripped = id.replace('checkbox_copy', '');
        $("#checkbox_import" + stripped).prop('checked', false);
      }else{
        var stripped = id.replace('checkbox_import', '');
        $("#checkbox_copy" + stripped).prop('checked', false);
      }
    });

    $(".list_check").click(function(){
      var siblings = this.parentNode.childNodes;
      var execute = this.id;
      if(execute.indexOf('list_copy') >= 0){
        var list_id = execute.replace('list_copy','');
        $('#list_import'+list_id).prop('checked', false);
        $(siblings).find("input[id^='checkbox_copy']").each(function(){
          $(this).trigger('click');
        });
      }else{
        var list_id = execute.replace('list_import','');
        $('#list_copy'+list_id).prop('checked', false);
        $(siblings).find("input[id^='checkbox_import']").each(function(){
          $(this).trigger('click');
        });
      }
    });

    function addList(list, listName){
      $('.import_confirm_list').append('<h3><u>' + listName).append('<div>').append('<ul class= "' + listName + '">');
      $(list).each(function(){
        $('.' + listName).append('<li>'+ this);
      });
    }

    $('#import_confirm').click(function(){
      var checked = 0;
      $('.import_confirm_list').empty();
      var imp = [];
      var copy = [];

      $('.import_check').each(function(index){
        if($(this).prop('checked')){
          checked++;
          var id = this.id;
          var stripped;
          if(id.indexOf('checkbox_copy') >= 0){
            stripped = id.replace('checkbox_copy', '');
            copy.push($('#name' + stripped).text());
          }else{
            stripped = id.replace('checkbox_import', '');
            imp.push($('#name' + stripped).text());
          }
        }

      });
      if(checked > 0){
        if(imp.length > 0){
          addList(imp, '{% trans "Import" %}');
        }

        if(copy.length > 0){
          addList(copy, '{% trans "Copy" %}');
        }

        $('#import_confirm_modal').foundation('reveal', 'open', '');
      }else{
        alert('You need to import atleast one exercise to continue!');
      }
    });

    //close the window
    $('#cancel_button').click(function(){
      $('#import_confirm_modal').foundation('reveal', 'close', '');
    });

    $('#import_button').click(function(e){
      e.preventDefault();
      var form = $("#import_list");
      //For some weird reason, need to add mylists to the form again
      //Else it doesn't register

      var post_data = form.serialize() + '&' + $('.mylists').serialize();

      $.ajax({
        type: 'POST',
        url: "",
        data: post_data,
        dataType: "text",

        success: function(response) {
          $('#import_confirm_modal').foundation('reveal', 'close', '');
          $('#import_list')[0].reset();
        }

      });
    });

  </script>
{% endblock %}
