{% extends "codegalaxy.html" %}
{% load staticfiles %}

{% block base_body %}
  {% load staticfiles %}
  {% load custom_filters %}

  <script src="{% static "codemirror/lib/codemirror.js" %}"></script>
  <link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
  <link rel="stylesheet" href="{% static "codemirror/theme/monokai.css" %}">
  <link rel="stylesheet" href="{% static "css/exercise_style.css" %}">

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <form id="submit_page" method="POST">
        {% csrf_token %}
        {% if solved %}
          <div class="row">
            <div class="large-text-center">
              <h1>Correct answer!</h1>
            </div>
          </div>

          <div class="row">
            <div class="large-7 columns large-centered">
              <div class="panel">
                <div class="large-text-center">
                  <h2>Your score:</h2>
                  <br/>
                  <br/>
                  <h1>{{ current_score }}/{{ max_score }}</h1>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <input type="hidden" name="solved" value="True"></input>
            <div class="large-6 large-text-center columns">
              <input type="submit" id="exercise_list" name="b_returntolist" class="button small radius" value="Return to list"></input>
            </div>
            <div class="large-6 large-text-center columns">
              <input type="submit" id="next_exercise" name="b_nextexercise" class="button success small radius" value="Next exercise"></input>
            </div>
          </div>

        {% else %}
          <div class="row">

          </div>
          <div class="row">
            <div class="large-text-center">
              <h2>Wrong answer</h2>
              <img src="{% static "media/Icons8-Ios7-Messaging-Sad.ico" %}" height="100px" width="100px">
            </div>
          </div>
          {% if question_type == "Code" %}
            <div class="row">
              <div class="large-3 columns">
                Your code outputted:
              </div>
            </div>

            <div class="row">
              <div class="large-5 columns">
                <textarea id="user_code" name="user_code">{{ user_output }}</textarea>

                <script>
                  var myCodeMirror = CodeMirror.fromTextArea(user_code,
                          {
                            theme: "monokai",
                            readOnly: true
                          });
                </script>
              </div>

              <div class="large-7 columns">
                <div class="panel">
                  <div class="large-text-center">
                    <h2>Your current score:</h2>
                    <br/>
                    <br/>
                    <h1>{{ current_score }}/{{ max_score }}</h1>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                  </div>

                </div>
              </div>
            </div>
          {% elif question_type == "Open Question" %}
            <br/>
            <div class="large-7 columns large-centered">
              <div class="panel">
                <div class="large-text-center">
                  <h2>Your current score:</h2>
                  <br/>
                  <br/>
                  <h1>{{ current_score }}/{{ max_score }}</h1>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                </div>

              </div>
            </div>
          {% endif %}

          <div class="large-text-center">
            <input type="hidden" name="solved" value="False"></input>
            <input type="submit" name="b_tryagain" class="button alert small radius" value="Try again"></input>
          </div>

        {% endif %}
      </div>
    </div>
  </div>

{% endblock base_body %}
{% block body_js %}
  <script>
    function rate(obj){
      var id = obj.id;
      var value = id.replace("star","");
      var current_rating = 5 - value;
      document.getElementById("current_rating").value = current_rating.toString();
    }
  </script>
{% endblock body_js %}
