{% extends "codegalaxy.html" %}
{% load staticfiles %}
{% load i18n %}
{% load custom_filters %}

{% block page_css %}
{% endblock page_css %}

{% block base_body %}
  <div class="row">
    <div class="large-12 columns">
        <form id="submit_page" method="POST">
        {% csrf_token %}
          <div class="row">
            <div class="large-text-center">
              {% if solved %}
                <h1>{% trans "Correct answer!" %}</h1>
              {% else %}
                <h1>{% trans "Wrong answer..." %}<h1>
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="large-5 columns large-centered">
              <div class="panel callout radius">
                <div class="large-text-center">
                  <img src="{% static "media/icons/planet.png" %}">
                    {% if solved %}
                      <h4>{% trans "Your score:" %}</h4>
                    {% else %}
                      <h4>{% trans "Your current score:" %}</h4>
                    {% endif %}
                    <h4>{{ current_score }}/{{ max_score }}</h4>
                </div>
            </div>
          </div>

          {% if question_type == "Code" %}

              <div class="row">
                <div class="large-text-center">
                  <div class="large-3 columns large-centered">
                    {% trans "Your code outputted:" %}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="large-text-center">
                <div class="large-5 columns large-centered">
                  <textarea id="user_code" name="user_code">{{ user_output }}</textarea>

                  <script>
                    var myCodeMirror = CodeMirror.fromTextArea(user_code,
                            {
                              theme: "monokai",
                              readOnly: true
                            });
                  </script>
                </div>
              </div>
            </div>
          {% endif %}

          {% if solved %}
            <div class="row">
              <input type="hidden" name="solved" value="True"></input>
              <div class="large-5 large-text-center columns">
                <input type="submit" id="exercise_list" name="b_returntolist" class="button small radius" value="{% trans "Return to list" %}"></input>
              </div>
              <div class="large-5 large-text-center columns">
                <input type="submit" id="next_exercise" name="b_nextexercise" class="button success small radius" value="{% trans "Next exercise" %}"></input>
              </div>
            </div>
            {% else %}
            <div class="large-text-center">
              <input type="hidden" name="solved" value="False"></input>
              <input type="submit" name="b_tryagain" class="button alert small radius" value="{% trans "Try again" %}"></input>
            </div>
          {% endif %}

      </div>
  </div>
</div>

{% endblock base_body %}
{% block body_js %}
  <script>
    function rate(obj){
      var id = obj.id;
      var value = id.replace("star","");
      var current_rating = 5 - value;
      $("#current_rating").val(current_rating.toString());
    }
  </script>
{% endblock body_js %}
