/* line 1, ../../../theme/scss/challenges.scss */
.search_pict {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

/* line 8, ../../../theme/scss/challenges.scss */
.challengers {
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

/* line 14, ../../../theme/scss/challenges.scss */
#textbox {
  position: absolute;
  top: 1em;
  left: 10em;
  width: 80%;
  color: black;
}

/* line 22, ../../../theme/scss/challenges.scss */
#arrow-right {
  transform: scale(0.4);
  position: relative;
  width: auto;
}

/* line 28, ../../../theme/scss/challenges.scss */
#textbox:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #9fd2e6;
  display: block;
  width: 0;
  z-index: 1;
  left: 1px;
  top: 70px;
}
