/* line 1, ../../../theme/scss/createExerciseList.scss */
label {
  color: white;
}

/* line 5, ../../../theme/scss/createExerciseList.scss */
.description {
  border-radius: 0.3em;
  height: 10em !important;
}

/* line 10, ../../../theme/scss/createExerciseList.scss */
.alien {
  transform: scale(0.5);
}

/* line 15, ../../../theme/scss/createExerciseList.scss */
#translation {
  color: black;
}

/* line 18, ../../../theme/scss/createExerciseList.scss */
#textbox {
  position: relative;
  left: -5em;
  top: 2em;
  width: auto;
  color: black;
}

/* line 26, ../../../theme/scss/createExerciseList.scss */
#arrow-right {
  transform: scale(0.4);
  position: relative;
  width: auto;
}

/* line 32, ../../../theme/scss/createExerciseList.scss */
#textbox:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #9fd2e6;
  display: block;
  width: 0;
  z-index: 1;
  left: 1px;
  top: 70px;
}
