/* line 1, ../../../theme/scss/group.scss */
.user-controls {
  margin-right: 12px;
}

/* line 5, ../../../theme/scss/group.scss */
.CodeMirror {
  height: 130px;
  width: 60%;
}

/* line 9, ../../../theme/scss/group.scss */
.wall-item {
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 2%;
}
/* line 10, ../../../theme/scss/group.scss */
.wall-item p {
  margin-bottom: 0px;
}
/* line 13, ../../../theme/scss/group.scss */
.wall-item .replies {
  padding-left: 7%;
}
/* line 15, ../../../theme/scss/group.scss */
.wall-item .replies .reply-timestamp {
  color: rgba(217, 217, 217, 0.7);
}
