/* line 1, ../../../theme/scss/group.scss */
.user-controls {
  margin-right: 12px;
}

/* line 5, ../../../theme/scss/group.scss */
.small_button {
  margin-left: 1px;
  margin-right: 1px;
}

/* line 10, ../../../theme/scss/group.scss */
.CodeMirror {
  height: 130px;
  width: 60%;
}

/* line 14, ../../../theme/scss/group.scss */
#post_button {
  width: 13%;
}

/* line 17, ../../../theme/scss/group.scss */
.wall-item {
  margin-bottom: 0px;
}
/* line 18, ../../../theme/scss/group.scss */
.wall-item p {
  margin-bottom: 0px;
}
/* line 21, ../../../theme/scss/group.scss */
.wall-item .replies {
  padding-left: 7%;
}
/* line 23, ../../../theme/scss/group.scss */
.wall-item .replies .reply-timestamp {
  color: rgba(217, 217, 217, 0.7);
}
/* line 27, ../../../theme/scss/group.scss */
.wall-item .button {
  width: 13%;
  margin-right: 5px;
}
/* line 32, ../../../theme/scss/group.scss */
.wall-item .large-1 {
  margin-right: 1px;
  margin-left: 1px;
  padding-right: 0px;
}

/* line 39, ../../../theme/scss/group.scss */
.octicon {
  padding-right: 2px;
}
