/* line 3, ../../../theme/scss/list.scss */
#bg_panel {
  background-color: #ECF0F1 !important;
  color: #2980B9;
}

/* line 8, ../../../theme/scss/list.scss */
h2#modalTitle {
  color: #1d1d1d !important;
}

/* line 12, ../../../theme/scss/list.scss */
table {
  margin-left: auto;
  margin-right: auto;
}

/* line 18, ../../../theme/scss/list.scss */
h4 {
  color: #3498DB !important;
}

/* line 22, ../../../theme/scss/list.scss */
.Arrow {
  width: 25px;
  height: 25px;
}

/* line 27, ../../../theme/scss/list.scss */
.icon {
  background-repeat: no-repeat;
  background-position: 50%;
  /*border-radius: 50%;*/
  width: 100px;
  height: 100px;
}

/* line 36, ../../../theme/scss/list.scss */
#subjects {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #ECF0F1;
  float: left;
  margin: -10px;
}

/* line 47, ../../../theme/scss/list.scss */
.exercise:hover {
  background-color: #ECF0F1 !important;
}

/* line 51, ../../../theme/scss/list.scss */
button[name="share_result"] {
  margin-bottom: 0px;
}

/* line 55, ../../../theme/scss/list.scss */
.exercise-wrapper {
  border-style: solid;
  border-color: #ababab;
  border-radius: 8px;
}

/* line 63, ../../../theme/scss/list.scss */
.alert-box button {
  margin-bottom: 0px;
}
