/* line 3, ../../../theme/scss/list.scss */
#bg_panel {
  background-color: #ECF0F1 !important;
  color: #2980B9;
}

/* line 8, ../../../theme/scss/list.scss */
h2#modalTitle {
  color: #1d1d1d !important;
}

/* line 12, ../../../theme/scss/list.scss */
table {
  margin-left: auto;
  margin-right: auto;
}

/* line 17, ../../../theme/scss/list.scss */
h4 {
  color: #3498DB !important;
}

/* line 21, ../../../theme/scss/list.scss */
.Arrow {
  width: 25px;
  height: 25px;
}

/* line 26, ../../../theme/scss/list.scss */
.icon {
  background-repeat: no-repeat;
  background-position: 50%;
  /*border-radius: 50%;*/
  width: 100px;
  height: 100px;
}

/* line 35, ../../../theme/scss/list.scss */
#subjects {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #ECF0F1;
  float: left;
  margin: -10px;
}

/* line 46, ../../../theme/scss/list.scss */
.exercise:hover {
  background-color: #ECF0F1 !important;
}

/* line 50, ../../../theme/scss/list.scss */
button[name="share_result"] {
  margin-bottom: 0px;
}

/* line 54, ../../../theme/scss/list.scss */
.exercise-wrapper {
  border-style: solid;
  border-color: #ababab;
  border-radius: 8px;
}

/* line 62, ../../../theme/scss/list.scss */
.alert-box button {
  margin-bottom: 0px;
}

/* line 67, ../../../theme/scss/list.scss */
#sim_ex_list_title {
  font-size: 18px;
}

/* line 71, ../../../theme/scss/list.scss */
.ex_list_link {
  color: #3498DB !important;
}
