/* line 1, ../../../theme/scss/sandbox.scss */
.output-header {
  font-size: 20px;
}

/* line 5, ../../../theme/scss/sandbox.scss */
#lang_icons_row {
  margin-bottom: 10px;
}

/* line 9, ../../../theme/scss/sandbox.scss */
.prog-lang-icon.active {
  transform: scale(1.3);
}

/* line 14, ../../../theme/scss/sandbox.scss */
.prog-lang-icon {
  transition: all .2s ease-in-out;
  transform: scale(0.85);
}
