.goldAch span, .goldAch {
  background-image: url(//katproxy.com/kastatic/images/ach_gold.gif);
  background-color: #bb9b1a;
}
.silverAch span, .silverAch {
  background-image: url(//katproxy.com/kastatic/images/ach_silver.gif);
  background-color: #8d92a3;
}
.bronzeAch span, .bronzeAch {
  background-image: url(//katproxy.com/kastatic/images/ach_bronze.gif);
  background-color: #c27e47;
}
.goldAch, .silverAch, .bronzeAch {
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-right: 10px;
  font-size: 11px;
  margin: 0 0 3px 0;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
}