<div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">CodeGalaxy</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li><a href="/u/overview/">Users</a></li>
                <li><a href="/g/create">Create Group</a></li>
                <li><a href="/tables/">Tables</a></li>
                <li><a href="/test">Test</a></li>
                <li><a href="/register/">Register</a></li>
                <li><a href="/login/">Login</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </section>
    </nav>
</div>


{% extends "foundation/base.html" %}
{% load staticfiles %}
{# Title #}
{% block title %} Code Galaxy {% endblock title %}
{# Custom CSS #}
{% block css %}
<link href="{% static "foundation/css/custom.css" %}" rel="stylesheet"/>
{% endblock css %}
