{% extends "codegalaxy.html" %}

{% block base_body %}

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>Login...</h1>
    </div>
  </div>
</div>

<div class="center row">
	<div class="content" data-section-content>
	<p>
	  <div class="row">
	    <div class="large-12 columns">
	      <div class="signup-panel">
	        <p class="welcome">Welcome back!</p>
	        <form method="post" action="/login/">
	        {% csrf_token %}
	          <div class="row collapse">
	            <div class="small-1 columns">
	              <span class="prefix"><i class="fi-mail"></i></span>
	            </div>
	            <div class="small-11  columns">
	              <input type="text" placeholder="Username" id="your_name" name="your_name" value="{{ your_name }}">
	            </div>
	          </div>
	          <div class="row collapse">
	            <div class="small-1 columns ">
	              <span class="prefix"><i class="fi-lock"></i></span>
	            </div>
	            <div class="small-11 columns ">
	              <input type="password" placeholder="Password" id="your_password" name="your_password" value="{{ your_password }}">
	            </div>
	          </div>
	          <input type="submit" value="WhyOhWhy" class="button"/>
	        </form>
	      </div>
	    </div>
	   </div></p>
	</div>
<div>    

{% endblock base_body %}
