{% extends "codegalaxy.html" %}

{% block base_body %}

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{{ test }}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{{ testfunction }}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{{ testfunction2 }}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{{ testfunction3 }}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{{ testfunction4 }}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{{ testfunction5 }}</h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{{ testfunction6 }}</h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{{ testfunction7 }}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{{ testfunction8 }}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{{ testfunction9 }}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{{ testfunction10 }}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{{ testfunction11 }}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>{{ testfunction12 }}</h1>
    </div>
  </div>
</div>
{% endblock base_body %}
