{% extends "codegalaxy.html" %}

{% block base_body %}

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <div class="row">
          <h3>Question</h3>
          <hr>
        </div>

        <div class="row">
          <div class="large-6 columns">
            {{ exercise.question }}
            <hr>
          </div>
        </div>

        <div class="row" id="Open Question" hidden="True">

          {% for i in answers %}
            <div class="row">
              <div class="large-6 large-offset-1 columns">
                {{ forloop.counter }}
                {{ i }}
                {% if forloop.counter == 1  %}
                  <input type="radio" name="corr_answer" value="{{ i }}" id="corr_answer_no_{{ i }}" checked><label for="answer_no_{{ i }}">Correct answer</label>
                {% else %}
                  <input type="radio" name="corr_answer" value="{{ i }}" id="corr_answer_no_{{ i }}" ><label for="answer_no_{{ i }}">Correct answer</label>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="row" id="Code" hidden="True">

        </div>

        <script>
          function unhide(name){
            document.getElementById(name).hidden = false
          }
        </script>

        {% if exercise.exercise_type == "Open Question" %}
          <script>
            unhide("Open Question")
          </script>
        {% else %}
          <script>
            unhide("Code")
          </script>
        {% endif %}


      </div>
    </div>
  </div>

{% endblock base_body %}
