{% extends "codegalaxy.html" %}

{% block base_body %}
    {% load staticfiles %}

    <div class="row">
        <div class="large-12 columns">
            <div class="panel">

                <div class="row">
                    <script src="{% static "codemirror/lib/codemirror.js" %}"></script>
                    <link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
                    <script src="{% static "codemirror/mode/javascript/javascript.js" %}"></script>
                    <link rel="stylesheet" href="{% static "codemirror/theme/monokai.css" %}">
                    <form style="width:500px; height: 500px;">
                        <textarea id="code" name="code">

                        </textarea>
                    </form>
                    <script>
                        var myCodeMirror = CodeMirror.fromTextArea(code,
                                {
                                    lineNumbers: true,
                                    mode: "Python",
                                    theme: "monokai",
                                    indentWithTabs: false
                                });
                    </script>
                </div>

            </div>
        </div>
    </div>


{% endblock base_body %}
